
@model IntranetPortal.Areas.PMS.Models.ManageCompetencyViewModel
<h3 class="mb-1">Dictionary of Competencies</h3>
<hr />
<div class="card mt-1">
    <div class="card-header bg-success">
        <h4 class="text-white">Manage Competency</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-area="PMS" asp-controller="Settings" asp-action="ManageCompetency" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-12 mb-2">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Title" class="form-label text-white fw-bold"></label>
                <input asp-for="Title" class="form-control fw-bold" >
                <div><span asp-validation-for="Title" class="text-white"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <label asp-for="Description" class="form-label text-white fw-bold"></label>
                <textarea asp-for="Description" class="form-control fw-bold"  rows="4">@Model.Description</textarea>
                <div><span asp-validation-for="Description" class="text-white"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="CategoryId" class="form-label text-white fw-bold"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.CompetencyCategoryList" class="form-control">
                    <option value=""> Category </option>
                </select>
                <div><span asp-validation-for="CategoryId" class="text-white"></span></div>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LevelId" class="form-label text-white fw-bold"></label>
                <select asp-for="LevelId" asp-items="@ViewBag.CompetencyLevelList" class="form-control">
                    <option value=""> Level </option>
                </select>
                <div><span asp-validation-for="LevelId" class="text-white"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-area="PMS" asp-controller="Settings" asp-action="Competencies" class="btn btn-dark" style="width:100px" title="Exit">
                    <span class="text-white">Exit</span>
                </a>
                <a asp-area="PMS" asp-controller="Settings" asp-action="ManageCompetency" asp-route-id="@Model.Id" class="btn btn-warning" style="width:100px" title="Clear">
                    <span class="text-white">Clear</span>
                </a>
                @if (!Model.OperationIsSuccessful)
                {
                    <button type="submit" class="btn btn-success" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                }
            </div>
        </div>
    </form>
    </div>
</div>


