
@model IntranetPortal.Areas.AssetManager.Models.AssetMovementViewModel
@{
    ViewData["Title"] = "OfficeManager | Delete Equipment Transfer";
}
<div>
    <div class="card" style="min-width:600px">
        <div class="card-header bg-danger">
            <h4 class="text-white">Delete Equipment Transfer</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-area="AssetManager" asp-controller="Movements" asp-action="DeleteMovement" method="post">
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <input type="hidden" asp-for="AssetID" />
                        <input type="hidden" asp-for="AssetTypeID" />
                        <input type="hidden" asp-for="AssetCategoryID" />
                        <input type="hidden" asp-for="AssetMovementID" />
                        <label asp-for="AssetName" class="form-label text-white fw-bold"></label>
                        <input asp-for="AssetName" class="form-control fw-bold" readonly="readonly">
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="MovedOn" class="form-label text-white fw-bold"></label>
                        <input value="@Model.MovedOn.Value.ToLongDateString()" class="form-control fw-bold" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <label asp-for="MovedFromLocationName" class="form-label text-white fw-bold"></label>
                        <input value="@Model.MovedFromLocationName" class="form-control fw-bold" readonly="readonly" />
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="MovedToLocationName" class="form-label text-white fw-bold"></label>
                        <input value="@Model.MovedToLocationName" class="form-control fw-bold" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" asp-for="AssetConditionStatus" />
                    <input type="hidden" asp-for="AssetConditionDescription" />
                    <div class="col-md-6 mb-1">
                        <label asp-for="MovementPurpose" class="form-label text-white fw-bold"></label>
                        <textarea class="form-control fw-bold" readonly="readonly" name="@Html.NameFor(m => m.MovementPurpose)">@Model.MovementPurpose</textarea>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="Comments" class="form-label text-white fw-bold"></label>
                        <textarea class="form-control fw-bold" readonly="readonly" name="@Html.NameFor(m => m.Comments)">@Model.Comments</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <label asp-for="SupervisedBy" class="form-label text-white fw-bold"></label>
                        <input asp-for="SupervisedBy" class="form-control fw-bold" readonly="readonly">
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="ApprovedBy" class="form-label text-white fw-bold"></label>
                        <input asp-for="ApprovedBy" class="form-control fw-bold" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="LoggedBy" class="form-label text-white fw-bold"></label>
                        <input asp-for="LoggedBy" class="form-control fw-bold" readonly="readonly">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="LoggedTime" class="form-label text-white fw-bold"></label>
                        <input value="@Model.LoggedTime.Value.ToLongDateString()" class="form-control fw-bold" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark ml-2" style="width:100px" title="Return Home">
                        <span class="text-white">Exit</span>
                    </a>
                    <a asp-area="AssetManager" asp-controller="Movements" asp-action="List" class="btn btn-dark ml-1" style="width:100px" title="Return to Transfers">
                        <span class="text-white">Go Back</span>
                    </a>
                    @if (!Model.OperationIsCompleted)
                    {
                        <button type="submit" class="btn btn-danger ml-2" title="Delete Permanently" style="width:200px"><span class="text-white" onclick="return confirm('Are you sure you want to permanently delete this record?')">Delete</span></button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>




