@model IntranetPortal.Areas.ContentManager.Models.PostListViewModel
@{
    ViewData["Title"] = "Content Manager | Photo Gallery";
}
<div class="container">
    <h3 class="mb-4">Album List</h3>
    <hr />
    <div class="mb-3">
        <a asp-area="ContentManager" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Click to Go Back">
            <span class="text-white">Back</span>
        </a>
        <a asp-area="ContentManager" asp-controller="Photos" asp-action="AddPhoto" class="btn btn-success" style="width:200px" title="Click to Add New Photos">
            <span class="text-white">New Album</span>
        </a>
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.PostList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var post in Model.PostList)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a asp-area="ContentManager" asp-controller="Photos" asp-action="MediaList" asp-route-id="@post.PostId" title="Go to Gallery">
                            <img class="card-img-top" src="@post.ImagePath" alt="Album Header Image" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @post.PostTitle  @if (post.IsHidden)
                                {<i class="bi bi-eye-slash-fill" title="Is Hidden" style="font-size: 1.0rem; color: red;"></i>}
                            </h4>
                            <p class="card-text">@post.PostSummary</p>
                            <div class="text-center">
                               <a asp-area="ContentManager" asp-controller="Photos" asp-action="Delete" asp-route-id="@post.PostId" title="Delete" class="btn btn-sm btn-danger" style="width:100px">
                                    <i class="bi bi-trash-fill mr-2" style="font-size: 1.0rem; color:white"></i> <span class="text-white">Delete</span>
                                </a>
                                <a asp-area="ContentManager" asp-controller="Photos" asp-action="EditPhoto" asp-route-id="@post.PostId" title="Edit" class="btn btn-sm btn-info" style="width:100px">
                                    <i class="bi bi-pencil-square mr-2" style="font-size: 1.0rem;"></i> <span class="text-white">Edit</span>
                                </a>
                                <a asp-area="ContentManager" asp-controller="Photos" asp-action="UploadPhoto" asp-route-id="@post.PostId" title="Upload New Photo" class="btn btn-sm btn-dark" >
                                    <i class="bi bi-upload mr-2" style="font-size: 1.0rem;"></i> <span class="text-white">New Upload</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
