@model IntranetPortal.Areas.LMS.Models.LeavePlanListViewModel
<div class="container">
    <h3 class="mb-1">My Leave Requests</h3>
    <hr />
    <div class="mb-2">
        <form asp-area="LMS" asp-controller="Home" asp-action="MyLeaveRequests" method="get">
            <div class="row">
                <div class="col-md-4">
                    <a asp-area="LMS" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-dark" style="width:100px;" title="Exit">
                        <span class="text-white">Back</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <span class="text-dark fw-bold">Select Year: </span>
                    <input asp-for="yr" class="border-0" style="width:100px" min="2020" max="2060">
                    <input type="submit" value="Search" class="btn btn-sm btn-dark mr-3 text-white" style="width:100px; margin-right:20px" />
                </div>
                <div class="col-md-2">
                    <a asp-area="LMS" asp-controller="Home" asp-action="NewLeaveRequest" asp-route-id="0" class="btn btn-sm btn-info" style="width:150px" title="Add New Leave Request">
                        <span class="text-white">New Request</span>
                    </a>
                </div>
            </div>
        </form>

        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    <div class="row">
        @if (Model == null || Model.LeaveRequestList == null || Model.LeaveRequestList.Count < 1)
        {
            <div class="alert alert-info fade show" role="alert">
                <i class="bi bi-info-circle"></i>
                <span class="fw-bold">No record was found.</span>
            </div>
        }
        else
        {
            <div class="table-responsive" style="min-height:400px">
                <table class="table table-sm table-hover">
                    <thead class="bg-info">
                        <tr>
                            <th>
                                <span class="text-white fw-bolder">Year</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Leave Type</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Start On</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">End On</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Duration</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Status</span>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @foreach (var item in Model.LeaveRequestList)
                        {
                            <tr>
                                <td>
                                    <span class="fw-bolder">@item.LeaveYear</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@item.LeaveTypeName</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@item.LeaveStartDate.ToLongDateString()</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@item.LeaveEndDate.ToLongDateString()</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@item.Duration @item.DurationTypeDescription</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@item.LeaveStatus</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="fw-bold text-dark"><i class="bi bi-three-dots"></i></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li>
                                                <a asp-area="LMS" asp-controller="Home" asp-action="LeavePlanDetails" asp-route-id="@item.Id" title="View Details" class="dropdown-item">
                                                    <span class="text-white"><i class="bi bi-info-circle"></i> View</span>
                                                </a>
                                            </li>
                                            @if (item.LeaveStatus == "Draft" || item.LeaveStatus == "New" || item.LeaveStatus == "Cancelled")
                                            {
                                                <li>
                                                    <a asp-area="LMS" asp-controller="Home" asp-action="EditLeaveRequest" asp-route-id="@item.Id" title="Edit" class="dropdown-item">
                                                        <span class="text-white"><i class="bi bi-pencil-square"></i> Edit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="LMS" asp-controller="Home" asp-action="DeleteLeaveRequest" asp-route-id="@item.Id" title="Delete" class="dropdown-item">
                                                        <span class="text-white"><i class="bi bi-trash"></i> Delete</span>
                                                    </a>
                                                </li>
                                            }
                                            <li>
                                                <a asp-area="LMS" asp-controller="Home" asp-action="LeaveAttachments" asp-route-id="@item.Id" title="Attachments" class="dropdown-item">
                                                    <span class="text-white"><i class="bi bi-paperclip"></i> Attachments</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="LMS" asp-controller="Home" asp-action="SubmitLeaveRequest" asp-route-id="@item.Id" title="Submit" class="dropdown-item">
                                                    <span class="text-white"><i class="bi bi-box-arrow-in-right"></i> Submit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="LMS" asp-controller="Home" asp-action="LeaveApprovals" asp-route-id="@item.Id" asp-route-sp="mlp" asp-route-yr="@item.LeaveYear" title="View Approvals" class="dropdown-item">
                                                    <span class="text-white"><i class="bi bi-calendar-check"></i> View Approvals</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="LMS" asp-controller="Home" asp-action="LeaveNotes" asp-route-id="@item.Id" asp-route-sp="mlp" asp-route-yr="@item.LeaveYear" title="View Notes" class="dropdown-item">
                                                    <span class="text-white"><i class="bi bi-journals"></i> View Notes</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="LMS" asp-controller="Home" asp-action="LeaveActivities" asp-route-id="@item.Id" title="Activity Log" class="dropdown-item">
                                                    <span class="text-white"><i class="bi bi-file-earmark-text"></i> View Log</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

