
@model IntranetPortal.Areas.LMS.Models.SubmitLeaveViewModel
<h3 class="mb-1">My Leave Plans</h3>
<hr />
<div class="card mt-1" style="max-width:600px">
    <div class="card-header bg-success">
        <h4 class="text-white">Submit Leave Plan</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-area="LMS" asp-controller="Home" asp-action="SubmitLeavePlan" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="ToEmployeeId" class="form-label text-white fw-bold"></label>
                    <select id="to_emp_id" asp-for="ToEmployeeId" class="form-control fw-bold" asp-items="@ViewBag.ReportingLines">
                        <option value="">Select</option>
                    </select>
                    <div><span asp-validation-for="ToEmployeeId" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ToEmployeeRole" class="form-label text-white fw-bold"></label>
                    <select asp-for="ToEmployeeRole" class="form-control fw-bold">
                        <option value="">Select</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Line Manager">Line Manager</option>
                        <option value="Head of Department">Head of Department</option>
                        <option value="Station Manager">Station Manager</option>
                        <option value="HR Representative">HR Executive</option>
                        <option value="Executive Management">Executive Manager</option>
                    </select>
                    <div><span asp-validation-for="ToEmployeeRole" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Purpose" class="form-label text-white fw-bold"></label>
                    <select asp-for="Purpose" class="form-control fw-bold">
                        <option value="">Select</option>
                        <option value="Approval">Approval</option>
                        <option value="Notification">Notification</option>
                    </select>
                    <div><span asp-validation-for="Purpose" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Message" class="form-label text-white fw-bold"></label>
                    <textarea asp-for="Message" class="form-control fw-bold">@Model.Message</textarea>
                    <div><span asp-validation-for="Message" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-end">
                    <a asp-area="LMS" asp-controller="Home" asp-action="MyLeavePlans" class="btn btn-dark" style="width:100px" title="Exit">
                        <span class="text-white">Exit</span>
                    </a>

                    @if (!Model.OperationIsSuccessful)
                    {
                        <button type="submit" class="btn btn-success" title="Submit" style="width:200px"><span class="text-white">Submit</span></button>
                        <partial name="_SendingPartial" />
                    }
                </div>
            </div>
            <input type="hidden" asp-for="Id">
            <input id="from_emp_id" type="hidden" asp-for="FromEmployeeId">
            <input id="from_emp_name" type="hidden" asp-for="FromEmployeeName">
            <input id="leave_id" type="hidden" asp-for="LeaveId" />
        </form>
    </div>
</div>
@section Scripts{
    <script>
         function displayProcessingImage(){
             if (document.getElementById("leave_id").value != "" ||
                 document.getElementById("from_emp_id").value != "" ||
                 document.getElementById("to_emp_id").value != "") {
            document.getElementById("sending").style.display = "block";
        }
    }
    </script>
}
