@model IntranetPortal.Areas.AssetManager.Models.AssetViewModel
@{
    ViewData["Title"] = "OfficeManager | Delete Asset";
}
<div>
    <div class="card">
        <div class="card-header bg-danger">
            <h4 class="text-white">Delete Asset</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="AssetManager" asp-controller="Master" asp-action="DeleteAsset" method="post">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <a asp-area="AssetManager" asp-controller="Master" asp-action="ShowImage" asp-route-id="@Model.AssetID" title="Show Large Image">
                        @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
                        {
                            <img src="/@Model.ImagePath" class="img-fluid" style="height:450px; width:550px" alt="Asset Image">
                        }
                        else
                        {
                            <img src="/img/no_image_placeholder.png" class="img-fluid" style="height:450px; width:550px" alt="Asset Image" />
                        }
                    </a>
                </div>
                <div class="col-md-7 mb-3">
                    <div class="row">
                        <div class="col-md-3 mb-1">
                            <label asp-for="AssetNumber" class="form-label text-white fw-bold"></label>
                            <input asp-for="AssetNumber" class="form-control fw-bold" readonly="readonly">
                        </div>
                        <div class="col-md-9 mb-1">
                            <input type="hidden" asp-for="AssetID" />
                            <input type="hidden" asp-for="ImagePath" />
                            <label asp-for="AssetName" class="form-label text-white fw-bold"></label>
                            <input asp-for="AssetName" class="form-control fw-bold" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <label asp-for="AssetDescription" class="form-label text-white fw-bold"></label>
                            <textarea class="form-control fw-bold" name="@Html.NameFor(m => m.AssetDescription)">@Model.AssetDescription</textarea>
                            <div><span asp-validation-for="AssetDescription" class="text-danger"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-1">
                            <label asp-for="AssetTypeName" class="form-label text-white fw-bold"></label>
                            <input asp-for="AssetTypeName" class="form-control fw-bold" readonly="readonly">
                        </div>
                        <div class="col-md-8 mb-1">
                            <input type="hidden" asp-for="ParentAssetID" />
                            <label asp-for="ParentAssetName" class="form-label text-white fw-bold"></label>
                            <input asp-for="ParentAssetName" class="form-control fw-bold" placeholder="Enter Name">
                            <div><span asp-validation-for="ParentAssetName" class="text-danger"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <label asp-for="PurchaseDateFormatted" class="form-label text-white fw-bold"></label>
                            <input asp-for="PurchaseDateFormatted" class="form-control fw-bold" readonly="readonly">
                        </div>
                        <div class="col-md-6 mb-1">
                            <label asp-for="PurchaseAmountFormatted" class="form-label text-white fw-bold"></label>
                            <input asp-for="PurchaseAmountFormatted" class="form-control fw-bold" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-1">
                            <label asp-for="BaseLocationName" class="form-label text-white fw-bold"></label>
                            <input asp-for="BaseLocationName" class="form-control fw-bold" readonly>
                        </div>
                        <div class="col-md-4 mb-1">
                            <input type="hidden" asp-for="BinLocationID" />
                            <label asp-for="BinLocationName" class="form-label text-white fw-bold"></label>
                            <input asp-for="BinLocationName" class="form-control fw-bold" readonly="readonly">
                            <div><span asp-validation-for="BinLocationName" class="text-danger"></span></div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label asp-for="ConditionStatus" class="form-label text-white fw-bold"></label>
                            @if (Model.ConditionStatus == AssetCondition.BeyondRepair)
                            {
                                <input asp-for="ConditionStatus" class="form-control fw-bold text-danger" readonly="readonly">
                            }
                            else if (Model.ConditionStatus == AssetCondition.InGoodCondition)
                            {
                                <input asp-for="ConditionStatus" class="form-control fw-bold text-success" readonly="readonly">
                            }
                            else if (Model.ConditionStatus == AssetCondition.RequiresRepair)
                            {
                                <input asp-for="ConditionStatus" class="form-control fw-bold text-warning" readonly="readonly">
                            }
                            else
                            {
                                <input asp-for="ConditionStatus" class="form-control fw-bold" readonly="readonly">
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="CustomField" class="form-label text-white fw-bold"></label>
                            <textarea class="form-control fw-bold" readonly="readonly" name="@Html.NameFor(m => m.CustomField)">@Model.CustomField</textarea>
                            <div><span asp-validation-for="CustomField" class="text-danger"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark ml-2" style="width:100px" title="Return Home">
                    <span class="text-white">Exit</span>
                </a>
                <a asp-area="AssetManager" asp-controller="Master" asp-action="Details" asp-route-id="@Model.AssetID" class="btn btn-dark ml-2" style="width:100px" title="Return Home">
                    <span class="text-white">Back</span>
                </a>
                @if (!Model.OperationIsCompleted)
                {
                    <button type="submit" class="btn btn-danger ml-2" title="Delete" style="width:200px" onclick="return confirm('Are you sure you want to delete this asset permanently?')"><span class="text-white">Delete</span></button>
                }
            </div>
        </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_asm/asm_master_assets.js"></script>
}







