@model IntranetPortal.Areas.ERM.Models.CreateEmployeeViewModel
@{
    ViewData["Title"] = "OfficeManager | Edit Employee";
}
<div class="card mt-1">
    <div class="card-header bg-info">
        <h4 class="text-white">Edit Employee</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form enctype="multipart/form-data" asp-area="ERM" asp-controller="Employees" asp-action="Edit" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-3 mb-1">
                    <input type="hidden" asp-for="PersonID" />
                    <input type="hidden" asp-for="EmployeeID" />
                    <label asp-for="FirstName" class="form-label text-white fw-bold"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name">
                    <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="Surname" class="form-label text-white fw-bold"></label>
                    <input asp-for="Surname" class="form-control" placeholder="Surname">
                    <div><span asp-validation-for="Surname" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="OtherNames" class="form-label text-white fw-bold"></label>
                    <input asp-for="OtherNames" class="form-control" placeholder="Other Names">
                    <div><span asp-validation-for="OtherNames" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="CompanyCode" class="form-label text-white fw-bold"></label>
                    <select asp-for="CompanyCode" asp-items="@ViewBag.CompanyList" class="form-control">
                        <option value="">- Select -</option>
                    </select>
                    <div><span asp-validation-for="CompanyCode" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-1">
                    <label asp-for="Title" class="form-label text-white fw-bold"></label>
                    <select asp-for="Title" class="form-control">
                        <option value="">- Select -</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Dr">Dr</option>
                        <option value="Prof">Prof</option>
                    </select>
                    <div><span asp-validation-for="Title" class="text-danger"></span></div>
                </div>
                <div class="col-md-2 mb-1">
                    <label asp-for="Sex" class="form-label text-white fw-bold"></label>
                    <select asp-for="Sex" class="form-control">
                        <option value="">- Select -</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                    <div><span asp-validation-for="Sex" class="text-danger"></span></div>
                </div>
                <div class="col-md-2 mb-1">
                    <label asp-for="MaritalStatus" class="form-label text-white fw-bold"></label>
                    <select asp-for="MaritalStatus" class="form-control">
                        <option value="">- Select -</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Separated">Separated</option>
                        <option value="Separated">Separated</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                    <div><span asp-validation-for="MaritalStatus" class="text-danger"></span></div>
                </div>
                <div class="col-md-2 mb-1">
                    <label class="form-label text-white fw-bold">Date of Birth</label>
                    <div class="form-control">
                        <input asp-for="BirthDay" min="1" max="31" style="width:40px; border:none" placeholder="dd">&nbsp;
                        <input asp-for="BirthMonth" min="1" max="12" style="width:40px; border:none" placeholder="mm">&nbsp;
                        <input asp-for="BirthYear" min="1940" max="2020" style="width:70px; border:none" placeholder="yyyy">
                    </div>
                </div>
                <div class="col-md-2 mb-1">
                    <label asp-for="PhoneNo1" class="form-label text-white fw-bold"></label>
                    <input asp-for="PhoneNo1" class="form-control" placeholder="Phone Number">
                    <div><span asp-validation-for="PhoneNo1" class="text-danger"></span></div>
                </div>
                <div class="col-md-2 mb-1">
                    <label asp-for="PhoneNo2" class="form-label text-white fw-bold"></label>
                    <input asp-for="PhoneNo2" class="form-control" placeholder="Alt Phone Number">
                    <div><span asp-validation-for="PhoneNo2" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-1">
                    <label asp-for="PlaceOfEngagement" class="form-label text-white fw-bold"></label>
                    <input asp-for="PlaceOfEngagement" class="form-control" placeholder="Alt Phone Number">
                    <div><span asp-validation-for="PlaceOfEngagement" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="LocationID" class="form-label text-white fw-bold"></label>
                    <select asp-for="LocationID" asp-items="@ViewBag.LocationList" class="form-control">
                        <option value="">- Select -</option>
                    </select>
                    <div><span asp-validation-for="LocationID" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="UnitID" class="form-label text-white fw-bold"></label>
                    <select asp-for="UnitID" asp-items="@ViewBag.UnitList" class="form-control">
                        <option value="">- Select -</option>
                    </select>
                    <div><span asp-validation-for="UnitID" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="EmploymentStatus" class="form-label text-white fw-bold"></label>
                    <select asp-for="EmploymentStatus" class="form-control">
                        <option value="">- Select -</option>
                        <option value="Permanent">Permanent</option>
                        <option value="Non Permanent">Non Permanent</option>
                    </select>
                    <div><span asp-validation-for="EmploymentStatus" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-1">
                    <label asp-for="JobGrade" class="form-label text-white fw-bold"></label>
                    <select asp-for="JobGrade" class="form-control">
                        <option value="">- Select -</option>
                        <option value="Executive Management">Executive Management</option>
                        <option value="Management">Management</option>
                        <option value="Senior">Senior</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Middle">Middle</option>
                        <option value="Junior">Junior</option>
                    </select>
                    <div><span asp-validation-for="JobGrade" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="StartUpDate" class="form-label text-white fw-bold"></label>
                    <input asp-for="StartUpDate" class="form-control">
                    <div><span asp-validation-for="StartUpDate" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="StartUpDesignation" class="form-label text-white fw-bold"></label>
                    <input asp-for="StartUpDesignation" class="form-control">
                    <div><span asp-validation-for="StartUpDesignation" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="EmployeeNo2" class="form-label text-white fw-bold"></label>
                    <input asp-for="EmployeeNo2" class="form-control">
                    <div><span asp-validation-for="EmployeeNo2" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-1">
                    <label asp-for="ConfirmationDate" class="form-label text-white fw-bold"></label>
                    <input asp-for="ConfirmationDate" class="form-control">
                    <div><span asp-validation-for="ConfirmationDate" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="DateOfLastPromotion" class="form-label text-white fw-bold"></label>
                    <input asp-for="DateOfLastPromotion" class="form-control">
                    <div><span asp-validation-for="DateOfLastPromotion" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-1">
                    <label asp-for="CurrentDesignation" class="form-label text-white fw-bold"></label>
                    <input asp-for="CurrentDesignation" class="form-control">
                    <div><span asp-validation-for="CurrentDesignation" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-1">
                    <label asp-for="YearsOfExperience" class="form-label text-white fw-bold"></label>
                    <input asp-for="YearsOfExperience" class="form-control" min="0" max="60">
                    <div><span asp-validation-for="YearsOfExperience" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="OfficialEmail" class="form-label text-white fw-bold"></label>
                    <input asp-for="OfficialEmail" class="form-control" placeholder="Official Email">
                    <div><span asp-validation-for="OfficialEmail" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="Email" class="form-label text-white fw-bold"></label>
                    <input asp-for="Email" class="form-control" placeholder="Personal Email">
                    <div><span asp-validation-for="Email" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-1">
                    <label asp-for="Religion" class="form-label text-white fw-bold"></label>
                    <select asp-for="Religion" class="form-control">
                        <option value="">- Select -</option>
                        <option value="Christian">Christian</option>
                        <option value="Muslim">Muslim</option>
                        <option value="Traditional">Traditional</option>
                        <option value="Judaism">Judaism</option>
                        <option value="Other">Other</option>
                    </select>
                    <div><span asp-validation-for="Religion" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Address" class="form-label text-white fw-bold"></label>
                    <textarea asp-for="Address" class="form-control" placeholder="Address" rows="3">@Model.Address</textarea>
                    <div><span asp-validation-for="Address" class="text-danger"></span></div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label asp-for="StateOfOrigin" class="form-label text-white fw-bold"></label>
                            <select asp-for="StateOfOrigin" asp-items="@ViewBag.StateList" class="form-control">
                                <option value="">- Select -</option>
                            </select>
                            <div><span asp-validation-for="StateOfOrigin" class="text-danger"></span></div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label asp-for="LgaOfOrigin" class="form-label text-white fw-bold"></label>
                            <input asp-for="LgaOfOrigin" class="form-control">
                            <div><span asp-validation-for="LgaOfOrigin" class="text-danger"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a asp-area="ERM" asp-controller="Employees" asp-action="profile" asp-route-id="@Model.EmployeeID" class="btn btn-dark" style="width:100px" title="Exit">
                                <span class="text-white">Exit</span>
                            </a>&nbsp;
                            <a asp-area="ERM" asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.EmployeeID" class="btn btn-warning" style="width:100px" title="Clear">
                                <span class="text-white">Clear</span>
                            </a>&nbsp;
                            @if (!Model.OperationIsCompleted)
                            {
                                <button type="submit" class="btn btn-info" title="Save Changes" style="width:200px"><span class="text-white">Save Changes</span></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




