@{
    ViewData["Title"] = "OfficeManager | Search Employees";
}
<div class="container">
    <h3 class="mb-1">Search Employees</h3>
    <hr />
    <div class="mb-1">
        <div class="mb-2">
            <form asp-area="ERM" asp-controller="Employees" asp-action="Search" method="get">
                <a asp-area="ERM" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Exit">
                    <span class="text-white">Exit</span>
                </a>
                <a asp-area="ERM" asp-controller="Employees" asp-action="Create" class="btn btn-success" style="width:200px" title="Add New Employee">
                    <span class="text-white pr-2">New Employee</span>
                </a>
                <input type="text" class="border-0" style="width:300px" id="sn" name="sn" placeholder="Enter text to search" />
                <input type="submit" value="Search" class="btn btn-dark" style="width:100px" />
            </form>

            @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@ViewBag.ErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="row">
            @if (ViewBag.EmployeeList == null || ViewBag.EmployeeList.Count < 1)
            {
                <div class="alert alert-info fade show" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <span class="fw-bold">No record was found.</span>
                </div>
            }
            else
            {
                <div class="table-responsive" style="height:350px; max-width:1300px">
                    <table class="table table-sm table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bolder">Employee No</span></th>
                                <th>
                                    <span class="text-white fw-bolder">Employee Name</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Gender</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Unit</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Location</span>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-success">
                            @foreach (var item in ViewBag.EmployeeList)
                            {
                                <tr>
                                    <td>
                                        <span class="fw-bolder">@item.EmployeeNo1</span>
                                    </td>
                                    <td>
                                        <span class="fw-bolder">@item.FullName</span>
                                    </td>
                                    <td>
                                        <span class="fw-bolder">@item.Sex</span>
                                    </td>
                                    <td>
                                        <span class="fw-bolder">@item.UnitName</span>
                                    </td>
                                    <td>
                                        <span class="fw-bolder">@item.LocationName</span>
                                    </td>
                                    <td>
                                        <a asp-area="ERM" asp-controller="Employees" asp-action="profile" asp-route-id="@item.EmployeeID" title="Select" class="btn btn-sm btn-dark" style="width:75px">
                                            <span class="text-white fw-bold">Select</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_erm/erm_employees.js"></script>
}
