@model IntranetPortal.Models.PaginatedList<Asset>
@{
    ViewData["Title"] = "OfficeManager | Assets List";
}
<div class="container">
    <h4>Assets List</h4>
    <hr />
    <div class="mb-1">
        <form asp-area="AssetManager" asp-controller="Home" asp-action="AssetList" method="get">
            <a asp-area="" asp-controller="Home" asp-action="Apps" class="btn btn-dark pr-2" style="width:200px" title="Click to Add New Asset Type">
                <span class="text-white">Exit</span>
            </a>
            <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                <span class="text-white">Back</span>
            </a>
            <select id="sp" name="sp" asp-items="@ViewBag.AssetTypesList" selected="@ViewBag.sp" class="border-0" style="width:250px">
                <option value="">- Select Type -</option>
            </select>
            <input type="submit" value="Search" class="btn btn-dark" style="width:100px" />
        </form>

        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead class="table-dark">
                        <tr>
                            <th><span class="text-white fw-bold">No</span></th>
                            <th><span class="text-white fw-bold">Name</span></th>
                            <th><span class="text-white fw-bold">Condition</span></th>
                            <th><span class="text-white fw-bold">Usage Status</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-success">
                        @foreach (var asset in Model)
                        {
                        <tr class="p-0">
                            <td>
                                <span class="fw-bold">@asset.AssetNumber</span>
                            </td>
                            <td>
                                <span class="fw-bold" title="@asset.AssetDescription">@asset.AssetName</span>
                            </td>
                            <td>
                                <span class="fw-bold">@asset.Condition</span>
                            </td>
                            <td>
                                <span class="fw-bold">@asset.UsageStatus</span>
                                @if (asset.NoOfConfirmedBooking > 0)
                                {
                                    <a asp-area="AssetManager" asp-controller="Home" asp-action="BookingList" asp-route-id="@asset.AssetID" title="This equipment is Booked. Click to view Booking List">
                                        <span class="text-white fw-bold"><i class="bi bi-bookmarks-fill ml-2" style="font-size: 1.0rem; color:black"></i></span>
                                    </a>
                                }
                            </td>
                            <td>
                                <div class="text-center">
                                    <a asp-area="AssetManager" asp-controller="Home" asp-action="AssetDetails" asp-route-id="@asset.AssetID" title="Details" class="btn btn-xs btn-dark text-white" style="width:50px">
                                        <i class="bi bi-card-text fw-bolder" style="font-size: 0.7rem;"></i>
                                    </a>
                                    @if (asset.UsageStatus == "Available" || asset.UsageStatus == "Booked")
                                    {
                                        <a asp-area="AssetManager" asp-controller="Usage" asp-action="CheckOut" asp-route-id="@asset.AssetID" title="Check Out" class="btn btn-xs btn-danger text-white" style="width:50px">
                                            <i class="bi bi-box-arrow-left fw-bolder" style="font-size: 0.7rem;"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="AssetManager" asp-controller="Usage" asp-action="CheckOutList" title="Check In" class="btn btn-xs btn-success text-white" style="width:50px">
                                            <i class="bi bi-box-arrow-in-right fw-bolder" style="font-size: 0.7rem;"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="AssetList"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-dark @prevDisabled" style="width:100px">
                Previous
            </a>
            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-dark ml-1 @nextDisabled" style="width:100px">
                Next
            </a>
        </div>
    }
</div>








