@model IntranetPortal.Areas.WKS.Models.AddTaskNoteViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Task Note";
}
<div class="container">
    <h4>Manage Task Note</h4>
    <hr />
    <div class="card" style="max-width:800px">
        <div class="card-header bg-info">
            <h4 class="text-white">New Note</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-area="WKS" asp-controller="Tasks" asp-action="AddTaskNote" method="post" autocomplete="off">
                <div class="col-md-12 mb-3">
                    <textarea asp-for="NoteText" id="txtNoteText" class="form-control fw-bold" rows="4">@Model.NoteText</textarea>
                    <div><span asp-validation-for="NoteText" class="text-danger"></span></div>
                </div>
                <div class="col-md-12">
                    @if (Model.Source == "txb")
                    {
                        @if (Model.IsTaskNote)
                        {
                            <a asp-area="WKS" asp-controller="Tasks" asp-action="Taskboard" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                                <span class="text-white">Back</span>
                            </a>
                        }
                        else
                        {
                            <a asp-area="WKS" asp-controller="Tasks" asp-action="TaskList" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                                <span class="text-white">Back</span>
                            </a>
                        }
                    }
                    else if (Model.Source == "sbt")
                    {
                        @if (Model.IsTaskNote)
                        {
                            <a asp-area="WKS" asp-controller="Tasks" asp-action="SubmittedTasks" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                                <span class="text-white">Back</span>
                            </a>
                        }
                        else
                        {
                            <a asp-area="WKS" asp-controller="Tasks" asp-action="SubmittedToMe" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                                <span class="text-white">Back</span>
                            </a>
                        }
                    }
                    else if (Model.Source == "ttl")
                    {
                        <a asp-area="WKS" asp-controller="Tasks" asp-action="TeamTaskList" asp-route-id="@Model.OwnerID" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                            <span class="text-white">Back</span>
                        </a>
                    }
                    else if (Model.Source == "ttb")
                    {
                        <a asp-area="WKS" asp-controller="Tasks" asp-action="TeamTaskboard" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                            <span class="text-white">Back</span>
                        </a>
                    }
                    else
                    {
                        <a asp-area="WKS" asp-controller="Tasks" asp-action="Index" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                            <span class="text-white">Back</span>
                        </a>
                    }
                    <button type="submit" class="btn btn-info ml-2" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                </div>
                <input type="hidden" asp-for="TaskItemID" />
                <input type="hidden" asp-for="TaskListID" />
                <input type="hidden" asp-for="IsTaskNote" />
                <input type="hidden" asp-for="OwnerID" />
                <input type="hidden" asp-for="Source" />
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
    window.onload = function() {
    document.getElementById("txtNoteText").focus();
    }
    </script>
}