@model IntranetPortal.Areas.WKS.Models.ManageTaskListViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Task Lists";
}
<div class="container">
    <h4>Manage Task List</h4>
    <hr />
    <div class="card" style="max-width:800px">
        <div class="card-header bg-danger">
            <h4 class="text-white">Delete Task List</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

        <form asp-area="WKS" asp-controller="Tasks" asp-action="DeleteTaskList" method="post" autocomplete="off">
            <div class="col-md-12 mb-2">
                <h6 class="text-light fw-bold">
                    <u>Caution:</u><br />All tasks under this list will be deleted also including all records of approvals, notes and activity history. And this is irreversible!
                </h6>
            </div>
            <div class="col-md-12 mb-2">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="OwnerId" />
                <label asp-for="Name" class="form-label text-white fw-bold"></label>
                <input asp-for="Name" class="form-control fw-bold" readonly="readonly"/>
            </div>
            <div class="col-md-12 mb-3">
                <label asp-for="Description" class="form-label text-white fw-bold"></label>
                <textarea class="form-control fw-bold" rows="2" name="@Html.NameFor(m => m.Description)" readonly="readonly">@Model.Description</textarea>
            </div>
            <div class="col-md-12">
                <a asp-area="WKS" asp-controller="Tasks" asp-action="TaskList" class="btn btn-dark ml-1" style="width:100px" title="Return to Asset List">
                    <span class="text-white">Back</span>
                </a>
                <button type="submit" class="btn btn-danger ml-2" title="Delete" style="width:200px" onclick="return confirm('Are you sure you want to delete this record permanently?')"><span class="text-white">Delete</span></button>
            </div>
        </form>
        </div>
    </div>
</div>