@model IntranetPortal.Areas.WKS.Models.EvaluationListsViewModel
@{
    ViewData["Title"] = "OfficeManager | Evaluation Results";
}
<div class="container">
    <h4>Task Folders Evaluation Summary</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-area="WKS" asp-controller="Tasks" asp-action="EvaluationLists" method="get">
                <a asp-area="WKS" asp-controller="Tasks" asp-action="index" class="btn btn-dark" style="width:100px" title="Back">
                    <span class="text-white">Back</span>
                </a>
                <select asp-for="mm" class="border-0" style="width:100px">
                    <option value="0">All</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <input asp-for="yy" class="border-0" style="width:100px" />
                <input type="submit" value="Search" class="btn btn-dark" style="width:100px" />
            </form>
        </div>
    </div>
    <div class="row">
        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.EvaluationHeaderList == null || Model.EvaluationHeaderList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        @if (Model != null && Model.EvaluationHeaderList != null && Model.EvaluationHeaderList.Count > 0)
        {
            <div class="row mt-2">
                <div class="table-responsive" style="min-height:500px">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bold">Folder Name</span></th>
                                <th><span class="text-white fw-bold">Evaluated On</span></th>
                                <th><span class="text-white fw-bold">Total</span></th>
                                <th><span class="text-white fw-bold">Completed</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Uncompleted</span></th>
                                <th><span class="text-white fw-bold">% Completion (Ave.)</span></th>
                                <th><span class="text-white fw-bold">% Rating (Ave.)</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var header in Model.EvaluationHeaderList)
                            {
                            <tr>
                                <td>
                                    <span class="fw-bold ml-1"><i class="bi bi-folder"></i></span>
                                    <span class="fw-bold ml-1" title="@header.TaskListName">@header.TaskListName</span>
                                </td>
                                <td>
                                    @if (header.EvaluationDate != null)
                                    {
                                        <span class="fw-bold">@header.EvaluationDate.Value.ToString("yyyy-MMM-dd")</span>
                                    }
                                    else
                                    {
                                        <span class="fw-bold">[Unspecified]</span>
                                    }
                                </td>
                                <td>
                                    <span class="fw-bold" title="Total Number of Tasks">@header.TotalNumberOfTasks</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Number of Completed Tasks">@header.NoOfCompletedTasks</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Number of Uncompleted Tasks">@header.NoOfUncompletedTasks</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Average % Completion">@header.AveragePercentCompletion %</span>
                                </td>
                                <td>
                                    @if (header.AverageQualityRating == 2)
                                    {
                                        <h4><span class="badge rounded-pill text-dark fw-bold" style="background-color:#DFFF00; width:100px" title="Poor">Poor</span></h4>
                                    }
                                    else if (header.AverageQualityRating == 3)
                                    {
                                        <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#28b463; width:100px" title="Good">Good</span></h4>
                                    }
                                    else if (header.AverageQualityRating == 5)
                                    {
                                        <h4><span class="badge rounded-pill text-white fw-bold" title="Completed" style="background-color:#7d3c98; width:100px">Excellent</span></h4>
                                    }
                                    else if (header.AverageQualityRating == 1)
                                    {
                                        <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#e74c3c; width:100px" title="Very Poor">Very Poor</span></h4>
                                    }
                                    else if (header.AverageQualityRating == 4)
                                    {
                                        <h4><span class="badge bg-info rounded-pill text-white fw-bold" title="Very Good" style="width:100px">Very Good</span></h4>
                                    }
                                </td>
                                <td style="vertical-align:top">
                                    <!-- Default dropstart button -->
                                    <div class="btn-group dropstart">
                                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0px">
                                            <span class="fw-bold" style="font-size:1.0rem;"><i class="bi bi-three-dots-vertical"></i></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li>
                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="EvaluationTasks" asp-route-id="@header.Id">
                                                    <i class="bi bi-card-checklist"></i> <span>Details</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskListNotes" asp-route-id="@header.TaskListId">
                                                    <i class="bi bi-stickies"></i> <span>View Notes</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_tsk_lst.js"></script>
}











