@model IntranetPortal.Areas.WKS.Models.ProductivityReportViewModel
@{
    ViewData["Title"] = "OfficeManager | Productivity Report";
}
<div class="container">
    <h4>Productivity Report</h4>
    <hr />
    <div class="row">
        <form asp-area="WKS" asp-controller="Tasks" asp-action="ProductivityReport" method="post">
            <div class="row">
                <div class="col-md-6">
                    <a asp-area="WKS" asp-controller="Tasks" asp-action="Reports" class="btn btn-sm btn-dark mr-2" style="width:75px" title="Back">
                        <span class="text-white">Back</span>
                    </a>
                    <span class="fw-bold">From Period:</span>
                    <select asp-for="FromMonth" class="border-0 fw-bold ml-2" style="width:60px">
                        <option value="0">All</option>
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    <input asp-for="FromYear" class="border-0 fw-bold mr-3" type="number" min="2020" max="2060" style="width:70px" />
                    <span class="fw-bold">To Period:</span>
                        <select asp-for="ToMonth" class="border-0 fw-bold ml-2" style="width:60px">
                            <option value="0">All</option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                        <input asp-for="ToYear" class="border-0 fw-bold" type="number" min="2020" max="2060" style="width:70px" />
                </div>
                <div class="col-md-6">
                    <select asp-for="LocationID" asp-items="@ViewBag.LocationList" class="border-0 fw-bold" style="width:160px">
                        <option value="0"> All Locations </option>
                    </select>
                    <select asp-for="DepartmentID" asp-items="@ViewBag.DepartmentList" class="border-0 fw-bold" style="width:150px">
                        <option value="0">All Departments</option>
                    </select>
                    <select asp-for="UnitID" asp-items="@ViewBag.UnitList" class="border-0 fw-bold" style="width:160px">
                        <option value="0"> All Units</option>
                    </select>
                    <input type="submit" value="Search" class="btn btn-sm btn-dark" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.EvaluationHeaderSummaryList == null || Model.EvaluationHeaderSummaryList.Count < 1)
    {
        <div class="alert alert-info fade show mt-2" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
            <div class="row mt-3">
                <hr />
                <div class="text-center fw-bold"><h3>@Model.ReportTitle</h3></div><hr />
                <div class="row"><div class="col-md-3 text-end"><h4>From: @Model.ReportStartDate</h4></div><div class="col-md-6"></div><div class="col-md-3"><h4>To: @Model.ReportEndDate</h4></div></div>
                <hr />
                <div class="row mb-2">
                    <form method="post" asp-controller="Tasks" asp-action="ExportProductivityReportToExcel" asp-route-fy="@Model.FromYear" asp-route-ty="@Model.ToYear" asp-route-fm="@Model.FromMonth" asp-route-tm="@Model.ToMonth" asp-route-ud="@Model.UnitID" asp-route-dd="@Model.DepartmentID" asp-route-ld="@Model.LocationID">
                        <input type="submit" value="Download" class="btn btn-sm btn-outline-dark fw-bold" />
                    </form>
                </div>
                 <div class="table-responsive" style="min-height:500px">
                    <table class="table table-sm table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bold">Staff Name</span></th>
                                <th><span class="text-white fw-bold">Location</span></th>
                                <th><span class="text-white fw-bold">Department</span></th>
                                <th><span class="text-white fw-bold">Unit</span></th>
                                <th><span class="text-white fw-bold">Total</span></th>
                                <th><span class="text-white fw-bold">Completed</span></th>
                                <th><span class="text-white fw-bold">Uncompleted</span></th>
                                <th><span class="text-white fw-bold">Ave.% Comp</span></th>
                                <th><span class="text-white fw-bold">Ave. Rating</span></th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var header in Model.EvaluationHeaderSummaryList)
                            {
                            <tr>
                                <td>
                                    <span class="fw-bold ml-1" title="@header.TaskOwnerName">@header.TaskOwnerName</span>
                                </td>
                                <td>
                                    <span class="fw-bold ml-1" title="@header.TaskOwnerLocationName">@header.TaskOwnerLocationName</span>
                                </td>
                                <td>
                                    <span class="fw-bold ml-1" title="@header.TaskOwnerDepartmentName">@header.TaskOwnerDepartmentName</span>
                                </td>
                                <td>
                                    <span class="fw-bold ml-1" title="@header.TaskOwnerUnitName">@header.TaskOwnerUnitName</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Total Number of Tasks">@header.TotalNoOfTasks</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Number of Completed Tasks">@header.TotalNoOfCompletedTasks</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Number of Uncompleted Tasks">@header.TotalNoOfUncompletedTasks</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="Average % Completion">@Convert.ToInt64(header.AveragePercentCompletion) %</span>
                                </td>
                                <td>
                                    @if (Convert.ToInt64(header.AverageQualityRating) == 2)
                                    {
                                        <h4><span class="badge rounded-pill text-dark fw-bold" style="background-color:#DFFF00; width:100px" title="Poor">Poor</span></h4>
                                    }
                                    else if (Convert.ToInt64(header.AverageQualityRating) == 3)
                                    {
                                        <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#28b463; width:100px" title="Good">Good</span></h4>
                                    }
                                    else if (Convert.ToInt64(header.AverageQualityRating) == 5)
                                    {
                                        <h4><span class="badge rounded-pill text-white fw-bold" title="Completed" style="background-color:#7d3c98; width:100px">Excellent</span></h4>
                                    }
                                    else if (Convert.ToInt64(header.AverageQualityRating) == 1)
                                    {
                                        <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#e74c3c; width:100px" title="Very Poor">Very Poor</span></h4>
                                    }
                                    else if (Convert.ToInt64(header.AverageQualityRating) == 4)
                                    {
                                        <h4><span class="badge bg-info rounded-pill text-white fw-bold" title="Very Good" style="width:100px">Very Good</span></h4>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    }
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_tsk_lst.js"></script>
}

