@using IntranetPortal.Base.Enums
@model IntranetPortal.Areas.WKS.Models.TaskBoardViewModel
@{
    ViewData["Title"] = "OfficeManager | Staff Task Board";
}
<div class="container">
    <h4>Staff Task List</h4>
    <hr />
    <div class="row">
        <div class="col-md-3 mb-1">
            <a asp-area="WKS" asp-controller="Tasks" asp-action="SearchEvaluationLists" class="btn btn-dark" style="width:100px" title="Back">
                <span class="text-white"><i class="bi bi-backspace"></i> Back</span>
            </a>
        </div>
        <div class="col-md-6 mb-1 text-end">
            <form asp-area="WKS" asp-controller="Tasks" asp-action="TeamTaskboard" method="get">
                <input type="hidden" asp-for="id" />
                <select asp-for="ps" class="border-0 ml-2">
                    <option value=""> All </option>
                    <option value="0"> Not Started </option>
                    <option value="1"> In Progress </option>
                    <option value="2"> Completed </option>
                    <option value="3"> On Hold </option>
                </select>
                <select asp-for="dm" class="border-0 ml-2">
                    <option value="">All</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <input asp-for="dy" class="border-0 ml-2" type="number" min="2020" max="2070" />
                <input type="submit" value="Search" class="btn btn-dark" style="width:100px" />
            </form>
        </div>
        <div class="col-md-3 mb-1 text-end">
            <a asp-area="WKS" asp-controller="Tasks" asp-action="NewTaskItem" asp-route-tl="@Model.id" asp-route-src="ttb" class="btn btn-success" style="width:150px" title="Add New Task">
                <span class="text-white fw-bold"><i class="bi bi-plus-circle"></i> New Task</span>
            </a>
        </div>
    </div>
    <div class="row">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.TaskItems == null || Model.TaskItems.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        @if (Model != null && Model.TaskItems != null && Model.TaskItems.Count > 0)
        {
            <div class="row">
                <div class="table-responsive" style="min-height:500px;">
                    <table class="table table-hover" style="max-width:90pc">
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bold">#</span></th>
                                <th><span class="text-white fw-bold">Description</span></th>
                                <th><span class="text-white fw-bold">Due On</span></th>
                                <th><span class="text-white fw-bold">Status</span></th>
                                <th><span class="text-white fw-bold">Approval</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var taskItem in Model.TaskItems)
                            {
                                @if (taskItem.IsCancelled)
                                {
                                    <tr>
                                        <td>
                                            <span class="fw-bold ml-1" title="@taskItem.Number"><del>@taskItem.Number</del></span>
                                        </td>
                                        <td>
                                            <span class="fw-bold ml-1" title="@taskItem.Description"><del>@taskItem.Description</del></span>
                                        </td>
                                        <td style="min-width:140px">
                                            <span class="fw-bold text-dark" title="@taskItem.ExpectedDueTime.Value.ToLongDateString() @taskItem.ExpectedDueTime.Value.ToLongTimeString() GMT"><del>@taskItem.ExpectedDueTime.Value.ToString("yyyy-MMM-dd")</del></span>
                                        </td>
                                        <td>
                                            @if (taskItem.ProgressStatus == WorkItemProgressStatus.NotStarted)
                                            {
                                                <h4><span class="badge rounded-pill text-dark fw-bold" style="background-color:#DFFF00" title="Not Started">Not Started</span></h4>
                                            }
                                            else if (taskItem.ProgressStatus == WorkItemProgressStatus.InProgress)
                                            {
                                                <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#28b463" title="In Progress">In Progress</span></h4>
                                            }
                                            else if (taskItem.ProgressStatus == WorkItemProgressStatus.Completed)
                                            {
                                                <h4><span class="badge rounded-pill text-white fw-bold" title="Completed" style="background-color:#7d3c98">Completed</span></h4>
                                            }
                                            else if (taskItem.ProgressStatus == WorkItemProgressStatus.OnHold)
                                            {
                                                <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#e74c3c" title="On Hold">On Hold</span></h4>
                                            }
                                            else
                                            {
                                                <h4><span class="badge bg-dark rounded-pill text-white fw-bold" title="Unspecified">Unspecified</span></h4>
                                            }
                                        </td>
                                        <td>
                                            @if (taskItem.TaskApprovalStatus == ApprovalStatus.Approved)
                                            {
                                                <span title="Approved"><i class="bi bi-check-lg" style="font-size:1.2rem; color:#28b463"></i></span>
                                            }
                                            else if (taskItem.TaskApprovalStatus == ApprovalStatus.Declined)
                                            {
                                                <span title="Declined"><i class="bi bi-x-lg" style="font-size:1.2rem; color:#e74c3c"></i></span>
                                            }
                                            else if (taskItem.TaskApprovalStatus == ApprovalStatus.Pending)
                                            {
                                                <span title="Pending"><i class="bi bi-dash-lg" style="font-size:1.2rem; color:#17202a"></i></span>
                                            }
                                            else
                                            {
                                                <span title="Pending"><i class="bi bi-three-dots" style="font-size:1.2rem; color:#17202a"></i></span>
                                            }
                                        </td>
                                        <td style="vertical-align:top">
                                            <!-- Default dropstart button -->
                                            <div class="btn-group dropstart">
                                                <button type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0px">
                                                    <span class="fw-bold" style="font-size:1.0rem;"><i class="bi bi-three-dots-vertical"></i></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    @if (taskItem.TaskStatus == WorkItemStatus.Open)
                                                    {
                                                        <li>
                                                            <button class="dropdown-item" onclick="ReverseCancelTaskItem('@taskItem.Id')">
                                                                <i class="bi bi-slash-circle"></i> <span>Undo</span>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="dropdown-item" onclick="closeTaskItem('@taskItem.Id')">
                                                                <i class="bi bi-x-circle"></i> <span>Close</span>
                                                            </button>
                                                        </li>

                                                        <li><hr class="dropdown-divider"></li>
                                                    }
                                                    @if (taskItem.TaskStatus == WorkItemStatus.Closed && Model.TaskListIsArchived == false)
                                                    {
                                                        <li>
                                                            <button class="dropdown-item" onclick="ReopenTaskItem('@taskItem.Id')">
                                                                <i class="bi bi-bootstrap-reboot"></i> <span>Re-Open</span>
                                                            </button>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-file-text"></i> <span>History</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskItemHistory" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId">
                                                                    <i class="bi bi-file-text"></i> <span>Activity History</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="ScheduleHistory" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId">
                                                                    <i class="bi bi-file-text"></i> <span>Schedule History</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-stickies"></i> <span>Notes</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskItemNotes" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-src="ttb">
                                                                    <i class="bi bi-stickies"></i> <span>View Notes</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskInfo" asp-route-id="@taskItem.Id">
                                                            <i class="bi bi-info-circle"></i> <span>Details</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" onclick="DeleteTaskItem('@taskItem.Id')">
                                                            <i class="bi bi-trash"></i> <span>Delete</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <span class="fw-bold ml-1" title="@taskItem.Number">@taskItem.Number</span>
                                        </td>
                                        <td>
                                            <span class="fw-bold ml-1" title="@taskItem.Description">@taskItem.Description</span>
                                        </td>
                                        <td style="min-width:140px">
                                            @if (taskItem.ExpectedDueTime != null)
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateTimeLine" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-src="ttb">
                                                        <span class="fw-bold text-dark" title="@taskItem.ExpectedDueTime.Value.ToLongDateString() @taskItem.ExpectedDueTime.Value.ToLongTimeString() GMT">@taskItem.ExpectedDueTime.Value.ToString("yyyy-MMM-dd")</span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="fw-bold text-dark" title="@taskItem.ExpectedDueTime.Value.ToLongDateString() @taskItem.ExpectedDueTime.Value.ToLongTimeString() GMT">@taskItem.ExpectedDueTime.Value.ToString("yyyy-MMM-dd")</span>
                                                }
                                            }
                                            else
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateTimeLine" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-src="ttb">
                                                        <span class="fw-bold text-dark">[NA]</span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="fw-bold text-dark">[NA]</span>
                                                }
                                            }

                                        </td>
                                        <td>
                                            @if (taskItem.ProgressStatus == WorkItemProgressStatus.NotStarted)
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateProgress" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-ps="@taskItem.ProgressStatus" asp-route-src="ttb">
                                                        <h4><span class="badge rounded-pill text-dark fw-bold" style="background-color:#DFFF00" title="Not Started">Not Started</span></h4>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <h4><span class="badge rounded-pill text-dark fw-bold" style="background-color:#DFFF00" title="Not Started">Not Started</span></h4>
                                                }
                                            }
                                            else if (taskItem.ProgressStatus == WorkItemProgressStatus.InProgress)
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateProgress" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-ps="@taskItem.ProgressStatus" asp-route-src="ttb">
                                                        <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#28b463" title="In Progress">In Progress</span></h4>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#28b463" title="In Progress">In Progress</span></h4>
                                                }
                                            }
                                            else if (taskItem.ProgressStatus == WorkItemProgressStatus.Completed)
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateProgress" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-ps="@taskItem.ProgressStatus" asp-route-src="ttb">
                                                        <h4><span class="badge rounded-pill text-white fw-bold" title="Completed" style="background-color:#7d3c98">Completed</span></h4>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <h4><span class="badge rounded-pill text-white fw-bold" title="Completed" style="background-color:#7d3c98">Completed</span></h4>
                                                }
                                            }
                                            else if (taskItem.ProgressStatus == WorkItemProgressStatus.OnHold)
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateProgress" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-ps="@taskItem.ProgressStatus" asp-route-src="ttb">
                                                        <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#e74c3c" title="On Hold">On Hold</span></h4>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <h4><span class="badge rounded-pill text-white fw-bold" style="background-color:#e74c3c" title="On Hold">On Hold</span></h4>
                                                }
                                            }
                                            else
                                            {
                                                if (Model.TaskListIsLocked == false)
                                                {
                                                    <a asp-area="WKS" asp-controller="Tasks" asp-action="UpdateProgress" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-ps="@taskItem.ProgressStatus" asp-route-src="ttb">
                                                        <h4><span class="badge bg-dark rounded-pill text-white fw-bold" title="Unspecified">Unspecified</span></h4>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <h4><span class="badge bg-dark rounded-pill text-white fw-bold" title="Unspecified">Unspecified</span></h4>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (taskItem.TaskApprovalStatus == ApprovalStatus.Approved)
                                            {
                                                <span title="Approved"><i class="bi bi-check-lg" style="font-size:1.2rem; color:#28b463"></i></span>
                                            }
                                            else if (taskItem.TaskApprovalStatus == ApprovalStatus.Declined)
                                            {
                                                <span title="Declined"><i class="bi bi-x-lg" style="font-size:1.2rem; color:#e74c3c"></i></span>
                                            }
                                            else if (taskItem.TaskApprovalStatus == ApprovalStatus.Pending)
                                            {
                                                <span title="Pending"><i class="bi bi-dash-lg" style="font-size:1.2rem; color:#17202a"></i></span>
                                            }
                                            else
                                            {
                                                <span title="Pending"><i class="bi bi-three-dots" style="font-size:1.2rem; color:#17202a"></i></span>
                                            }
                                        </td>
                                        <td style="vertical-align:top">
                                            <!-- Default dropstart button -->
                                            <div class="btn-group dropstart">
                                                <button type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0px">
                                                    <span class="fw-bold" style="font-size:1.0rem;"><i class="bi bi-three-dots-vertical"></i></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    @if (taskItem.TaskStatus == WorkItemStatus.Open)
                                                    {
                                                        @if (taskItem.TaskApprovalStatus != ApprovalStatus.Approved && Model.TaskListIsLocked == false)
                                                        {
                                                            <li>
                                                                <a class="dropdown-item" href="#">
                                                                    <i class="bi bi-ui-checks-grid"></i> <span>Approval</span>
                                                                </a>
                                                                <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                                    <li>
                                                                        <button class="dropdown-item" onclick="approveTaskItem('@taskItem.Id')">
                                                                            <i class="bi bi-check-lg"></i> <span>Approve</span>
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button class="dropdown-item" onclick="declineTaskItem('@taskItem.Id')">
                                                                            <i class="bi bi-x-lg"></i> <span>Decline</span>
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </li>

                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="EditTaskItem" asp-route-id="@taskItem.Id" asp-route-src="ttb">
                                                                    <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <button class="dropdown-item" onclick="DeleteTaskItem('@taskItem.Id')">
                                                                    <i class="bi bi-trash"></i> <span>Delete</span>
                                                                </button>
                                                            </li>
                                                        }
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="bi bi-link-45deg"></i> <span>Link</span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="LinkProgram" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-src="ttb">
                                                                        <i class="bi bi-link-45deg"></i> <span>Link Program</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="LinkProject" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-src="ttb">
                                                                        <i class="bi bi-link-45deg"></i> <span>Link Project</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        @if (!Model.TaskListIsLocked)
                                                        {
                                                            <li>
                                                                <button class="dropdown-item" onclick="CancelTaskItem('@taskItem.Id')">
                                                                    <i class="bi bi-slash-circle"></i> <span>Cancel</span>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button class="dropdown-item" onclick="closeTaskItem('@taskItem.Id')">
                                                                    <i class="bi bi-x-circle"></i> <span>Close</span>
                                                                </button>
                                                            </li>
                                                        }
                                                        <li><hr class="dropdown-divider"></li>
                                                    }
                                                    @if (taskItem.TaskStatus == WorkItemStatus.Closed && Model.TaskListIsArchived == false)
                                                    {
                                                        <li>
                                                            <button class="dropdown-item" onclick="ReopenTaskItem('@taskItem.Id')">
                                                                <i class="bi bi-bootstrap-reboot"></i> <span>Re-Open</span>
                                                            </button>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-file-text"></i> <span>History</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskItemHistory" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId">
                                                                    <i class="bi bi-file-text"></i> <span>Activity History</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="ScheduleHistory" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId">
                                                                    <i class="bi bi-file-text"></i> <span>Schedule History</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-stickies"></i> <span>Notes</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                            @if (taskItem.TaskStatus == WorkItemStatus.Open)
                                                            {
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="AddTaskNote" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-tp="t" asp-route-src="txb">
                                                                        <i class="bi bi-sticky"></i> <span>Drop a Note</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskItemNotes" asp-route-id="@taskItem.Id" asp-route-tl="@taskItem.TaskListId" asp-route-src="txb">
                                                                    <i class="bi bi-stickies"></i> <span>View Notes</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskInfo" asp-route-id="@taskItem.Id">
                                                            <i class="bi bi-info-circle"></i> <span>Details</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_tsk_lst.js"></script>
}

