@model IntranetPortal.Areas.WKS.Models.SelectTaskFolderViewModel
@{
    ViewData["Title"] = "OfficeManager | Select Task Folders";
}
<div class="container">
    <h4>Select Folder</h4>
    <hr />
    <div class="row">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>

    @if (Model == null || Model.ActiveTaskLists == null || Model.ActiveTaskLists.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        @if (Model != null && Model.ActiveTaskLists != null && Model.ActiveTaskLists.Count > 0)
        {
            <div class="row mt-5">
                @foreach (var taskList in Model.ActiveTaskLists)
                {
                    @if (taskList.IsLocked)
                    {
                        <div class="col-md-6 col-lg-2 col-xlg-3">
                            <a asp-area="WKS" asp-controller="Tasks" asp-action="ReCreateTaskItem" asp-route-id="@Model.TaskItemID" asp-route-tl="@taskList.Id" asp-route-src="@Model.Source">
                                <div class="card card-hover">
                                    <div class="box bg-light text-center">
                                        <h1 class="font-light text-dark" title="@taskList.Description"><i class="bi bi-folder-x"></i></h1>
                                        <h6 class="text-dark">@taskList.Name</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 col-lg-2 col-xlg-3">
                            <a asp-area="WKS" asp-controller="Tasks" asp-action="ReCreateTaskItem" asp-route-id="@Model.TaskItemID" asp-route-tl="@taskList.Id" asp-route-src="@Model.Source">
                                <div class="card card-hover">
                                    <div class="box bg-light text-center">
                                        <h1 class="font-light text-dark" title="@taskList.Description"><i class="bi bi-folder"></i></h1>
                                        <h6 class="text-dark">@taskList.Name</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        }
    }







    @*@if (Model == null || Model.TaskLists == null || Model.TaskLists.Count < 1)
        {
            <div class="alert alert-info fade show" role="alert">
                <i class="bi bi-info-circle"></i>
                <span class="fw-bold">No record was found.</span>
            </div>
        }
        else
        {
            @if (Model != null && Model.TaskLists != null && Model.TaskLists.Count > 0)
            {
                <div class="row mt-2">
                    <div class="table-responsive" style="min-height:500px">
                        <table class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th class="p-2"><span class="text-white fw-bold">Name</span></th>
                                    <th class="p-2"><span class="text-white fw-bold">Created On</span></th>
                                    <th class="p-2"><span class="text-white fw-bold">Status</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-light">
                                @foreach (var taskList in Model.TaskLists)
                                {
                                    <tr>
                                        <td>
                                            @if (taskList.IsLocked)
                                            {
                                                <i class="bi bi-lock-fill" style="font-size:1.2rem; margin-left:3px;" title="Locked"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-unlock" style="font-size:1.2rem; margin-left:3px;" title="Not Locked"></i>
                                            }
                                            <span class="fw-bold ml-1" title="@taskList.Description">@taskList.Name</span>
                                        </td>
                                        <td>
                                            @if (taskList.CreatedTime != null)
                                            {
                                                <span class="fw-bold">@taskList.CreatedTime.Value.ToLongDateString() @taskList.CreatedTime.Value.ToLongTimeString() GMT</span>
                                            }
                                            else
                                            {
                                                <span class="fw-bold">[Unspecified]</span>
                                            }
                                        </td>
                                        <td>
                                            @if (taskList.IsArchived)
                                            {
                                                <span class="fw-bold" title="Archived">Archived</span>
                                            }
                                            else
                                            {
                                                <span class="fw-bold" title="Active">Active</span>
                                            }
                                        </td>
                                        <td style="vertical-align:top">
                                             Default dropstart button
                                            <div class="btn-group dropstart">
                                                <button type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0px">
                                                    <span class="fw-bold" style="font-size:1.0rem;"><i class="bi bi-three-dots-vertical"></i></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="Taskboard" asp-route-id="@taskList.Id">
                                                            <i class="bi bi-card-checklist"></i> <span>Task List</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="SubmitTaskList" asp-route-id="@taskList.Id">
                                                            <i class="bi bi-mailbox"></i> <span>Submit</span>
                                                        </a>
                                                    </li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskListInfo" asp-route-id="@taskList.Id" title="Details">
                                                            <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-stickies"></i> <span>Notes</span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                            @if (!taskList.IsArchived)
                                                            {
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="AddTaskNote" asp-route-id="0" asp-route-tl="@taskList.Id" asp-route-tp="l" asp-route-src="txb">
                                                                        <i class="bi bi-sticky"></i> <span>Drop a Note</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            <li>
                                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskListNotes" asp-route-id="@taskList.Id">
                                                                    <i class="bi bi-stickies"></i> <span>View Notes</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    @if (!taskList.IsLocked)
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="ManageTaskList" asp-route-id="@taskList.Id">
                                                                <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="DeleteTaskList" asp-route-id="@taskList.Id">
                                                                <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                            </a>
                                                        </li>
                                                    }

                                                    @if (taskList.IsArchived)
                                                    {
                                                        <li>
                                                            <button class="dropdown-item" id="btn_activate_@taskList.Id" onclick="reactivateTaskList('@taskList.Id')">
                                                                <i class="bi bi-journal-check"></i>  <span>Re-Activate</span>
                                                            </button>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <button class="dropdown-item" id="btn_archive_@taskList.Id" onclick="archiveTaskList('@taskList.Id')">
                                                                <i class="bi bi-journal-album"></i> <span>Archive</span>
                                                            </button>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }*@
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_tsk_lst.js"></script>
}

