@using IntranetPortal.Base.Enums
@model IntranetPortal.Areas.WKS.Models.SubmittedToMeViewModel
@{
    ViewData["Title"] = "OfficeManager | Submitted Tasks";
}
<div class="container">
    <h4>Submitted Task Folders</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-area="WKS" asp-controller="Tasks" asp-action="SubmittedToMe" method="get">
                <a asp-area="WKS" asp-controller="Tasks" asp-action="index" class="btn btn-dark mr-5" style="width:100px" title="Back">
                    <span class="text-white">Back</span>
                </a>
                <input asp-for="FromEmployeeName" class="border-0" style="width:300px" placeholder="Start typing ..." />
                <select asp-for="SubmittedMonth" class="border-0" style="width:100px">
                    <option value="">All</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <input asp-for="SubmittedYear" class="border-0" style="width:100px" type="number" min="2020" max="2080" />
                <input type="submit" value="Search" class="btn btn-dark" style="width:100px" />
                <input type="hidden" asp-for="EmployeeID" />
            </form>
        </div>
    </div>
    <div class="row">
        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.TaskSubmissionList == null || Model.TaskSubmissionList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        <div class="row mt-2">
            <div class="table-responsive" style="min-height:500px">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                             <th><span class="text-white fw-bold">Folder Name</span></th>
                            <th><span class="text-white fw-bold">Submitted By</span></th>
                            <th><span class="text-white fw-bold">Submitted On</span></th>
                            <th><span class="text-white fw-bold">Purpose</span></th>
                            <th><span class="text-white fw-bold">Status</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @foreach (var taskSubmission in Model.TaskSubmissionList)
                        {
                            <tr>
                                <td>
                                    <span class="fw-bold ml-1"><i class="bi bi-folder"></i></span>
                                    <span class="fw-bold ml-1" title="@taskSubmission.TaskListName">@taskSubmission.TaskListName</span>
                                </td>
                                <td>
                                    <span class="fw-bold ml-1" title="@taskSubmission.FromEmployeeName">@taskSubmission.FromEmployeeName</span>
                                </td>
                                <td>
                                    @if (taskSubmission.DateSubmitted != null)
                                    {
                                        <span class="fw-bold">@taskSubmission.DateSubmitted.Value.ToString("yyyy-MMM-dd")</span>
                                    }
                                    else
                                    {
                                        <span class="fw-bold">[Unspecified]</span>
                                    }
                                </td>
                                <td>
                                    <span class="fw-bold" title="@taskSubmission.SubmissionType.ToString()">@taskSubmission.SubmissionType.ToString()</span>
                                </td>

                                <td>
                                    @if (taskSubmission.IsActioned)
                                    {
                                        <span class="badge rounded-pill bg-success fw-bold ml-1 text-white" style="font-size:0.8rem" title="Actioned">Actioned</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill bg-warning fw-bold ml-1 text-dark" style="font-size:0.8rem" title="Pending">Pending</span>
                                    }
                                </td>
                                <td style="vertical-align:top">
                                    <div class="btn-group dropstart">
                                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0px">
                                            <span class="fw-bold" style="font-size:1.0rem;"><i class="bi bi-three-dots-vertical"></i></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            @if (taskSubmission.IsActioned == false && taskSubmission.SubmissionType == WorkItemSubmissionType.Approval)
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="SubmittedTasks" asp-route-id="@taskSubmission.TaskListId" asp-route-sd="@taskSubmission.TaskSubmissionId" asp-route-ed="@Model.EmployeeID" asp-route-tp="@taskSubmission.SubmissionType" asp-route-od="@taskSubmission.FromEmployeeId">
                                                        <i class="bi bi-card-checklist"></i> <span>Task List</span>
                                                    </a>
                                                </li>
                                            }
                                            else if (taskSubmission.IsActioned == false && taskSubmission.SubmissionType == WorkItemSubmissionType.Evaluation)
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="SubmittedEvaluations" asp-route-id="@taskSubmission.TaskListId" asp-route-sd="@taskSubmission.TaskSubmissionId" asp-route-ed="@Model.EmployeeID" asp-route-od="@taskSubmission.FromEmployeeId">
                                                        <i class="bi bi-card-checklist"></i> <span>Task List</span>
                                                    </a>
                                                </li>
                                            }
                                            <li>
                                                <button class="dropdown-item" onclick="returnTaskList('@taskSubmission.TaskListId', @taskSubmission.TaskSubmissionId)">
                                                    <i class="bi bi-check-lg"></i> <span>Done</span>
                                                </button>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="bi bi-stickies"></i> <span>Notes</span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="AddTaskNote" asp-route-id="0" asp-route-tl="@taskSubmission.TaskListId" asp-route-tp="l" asp-route-src="sbt">
                                                            <i class="bi bi-sticky"></i> <span>Drop a Note</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskListNotes" asp-route-id="@taskSubmission.TaskListId" asp-route-src="sbt">
                                                            <i class="bi bi-stickies"></i> <span>View Notes</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="WKS" asp-controller="Tasks" asp-action="TaskSubmissionInfo" asp-route-id="@taskSubmission.TaskSubmissionId" title="Details">
                                                    <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                </a>
                                            </li>
                                            @if (taskSubmission.IsActioned)
                                            {
                                                <li>
                                                    <button class="dropdown-item" onclick="deleteTaskListSubmission(@taskSubmission.TaskSubmissionId)">
                                                        <i class="bi bi-trash"></i> <span>Delete</span>
                                                    </button>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_tsk_lst.js"></script>
}










