@model IntranetPortal.Areas.WKS.Models.SubmitTaskListViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Tasks";
}
<div class="container">
    <h4>Manage Tasks</h4>
    <hr />
    <div class="card" style="max-width:600px">
        <div class="card-header bg-info">
            <h4 class="text-white">Submit Task List</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="WKS" asp-controller="Tasks" asp-action="SubmitTaskList" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="FromEmployeeName" class="form-label text-white fw-bold"></label>
                    <input asp-for="FromEmployeeName" class="form-control fw-bold" readonly="readonly" />
                    <div><span asp-validation-for="FromEmployeeName" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="ToEmployeeName" class="form-label text-white fw-bold"></label>
                    <input asp-for="ToEmployeeName" class="form-control fw-bold" />
                    <div><span asp-validation-for="ToEmployeeName" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="SubmissionTypeID" class="form-label text-white fw-bold"></label>
                    <select asp-for="SubmissionTypeID" class="form-control fw-bold">
                        <option value="0">Approval</option>
                        <option value="1">Evaluation</option>
                    </select>
                    <div><span asp-validation-for="SubmissionTypeID" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Comment" class="form-label text-white fw-bold"></label>
                    <textarea asp-for="Comment" rows="2" class="form-control fw-bold">@Model.Comment</textarea>
                    <div><span asp-validation-for="Comment" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-end">
                    <a asp-area="WKS" asp-controller="Tasks" asp-action="TaskList" asp-route-id="@Model.FromEmployeeID" class="btn btn-dark ml-1" style="width:100px" title="Back">
                        <span class="text-white">Back</span>
                    </a>
                    <button type="submit" class="btn btn-info ml-2" title="Submit" style="width:200px"><span class="text-white">Submit</span></button>
                </div>
            </div>
            <input type="hidden" asp-for="TaskListID" />
            <input type="hidden" asp-for="FromEmployeeID" />
        </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_tsk_lst.js"></script>
}