@model IntranetPortal.Areas.WKS.Models.ManageTaskListViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Task Folders";
}
<div class="container">
    <h4>Manage Task Folders</h4>
    <hr />
    <div class="card" style="max-width:800px">
        <div class="card-header bg-dark">
            <h4 class="text-white">Task Folder Details</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="col-md-12 mb-2">
                <label asp-for="Name" class="form-label text-white fw-bold"></label>
                <div class="form-control fw-bold">@Model.Name</div>
            </div>
            <div class="col-md-12 mb-2">
                <label asp-for="Description" class="form-label text-white fw-bold"></label>
                <textarea class="form-control fw-bold" rows="2" name="@Html.NameFor(m => m.Description)" readonly="readonly">@Model.Description</textarea>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label asp-for="CreatedBy" class="form-label text-white fw-bold"></label>
                        @if (!string.IsNullOrWhiteSpace(Model.CreatedBy))
                        {
                            <div class="form-control fw-bold">@Model.CreatedBy</div>
                        }
                        else
                        { <div class="form-control fw-bold">[Unspecified]</div>}

                    </div>
                    <div class="col-md-6 mb-2">
                        <label asp-for="CreatedTime" class="form-label text-white fw-bold"></label>
                        @if (Model.CreatedTime != null)
                        {
                            <div class="form-control fw-bold" readonly="readonly">@Model.CreatedTime.Value.ToLongDateString()  @Model.CreatedTime.Value.ToLongTimeString()</div>
                        }
                        else
                        { <div class="form-control fw-bold">[Unspecified]</div>}
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                @if (Model.IsArchived)
                {
                    <div class="mb-3 mt-2">
                        <span class="text-danger fw-bold" style="font-size:1.2rem"> <i class="bi bi-journal-album"></i></span>
                        <span class="fw-bold text-danger ml-2">Archived Folder</span>
                    </div>
                }
                else
                {
                    <div class="mb-3 mt-2">
                        <span class="text-success fw-bold" style="font-size:1.2rem"> <i class="bi bi-journal-check"></i></span>
                        <span class="fw-bold text-success ml-2">Active Folder</span>
                    </div>
                }
            </div>
            <div class="col-md-12">
                <button onclick="history.back()" class="btn btn-dark ml-1" style="width:100px">
                    <span class="text-white">Back</span>
                </button>
            </div>
        </div>
    </div>
</div>