@model IntranetPortal.Areas.WKS.Models.UpdateProgressViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Task Item";
}
<div class="container">
    <h4>Manage Task Item</h4>
    <hr />
    <div class="card" style="max-width:400px">
        <div class="card-header bg-info">
            <h4 class="text-white">Update Task Progress</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="WKS" asp-controller="Tasks" asp-action="UpdateProgress" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label class="form-label text-white fw-bold">Current Status</label>
                    <div class="form-control fw-bold">@Model.CurrentProgressStatusDescription</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="NewProgressStatusID" class="form-label text-white fw-bold"></label>
                    <select asp-for="NewProgressStatusID" class="form-control fw-bold">
                        <option value=""> Select </option>
                        <option value="0">Not Started</option>
                        <option value="1">In Progress</option>
                        <option value="2">Completed</option>
                        <option value="3">On Hold</option>
                    </select>
                    <div><span asp-validation-for="NewProgressStatusID" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-end">
                    @if (Model.Source == "txb")
                    {
                        <a asp-area="WKS" asp-controller="Tasks" asp-action="Taskboard" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Back">
                            <span class="text-white">Back</span>
                        </a>
                    }
                    else if (Model.Source == "sbt")
                    {
                        <a asp-area="WKS" asp-controller="Tasks" asp-action="SubmittedTasks" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Back">
                            <span class="text-white">Back</span>
                        </a>
                    }
                    else if (Model.Source == "ttb")
                    {
                    <a asp-area="WKS" asp-controller="Tasks" asp-action="TeamTaskboard" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Back">
                        <span class="text-white">Back</span>
                    </a>
                    }
                    else
                    {
                    <a asp-area="WKS" asp-controller="Tasks" asp-action="Index" asp-route-id="@Model.TaskListID" class="btn btn-dark ml-1" style="width:100px" title="Back">
                        <span class="text-white">Back</span>
                    </a>
                    }
                    <button type="submit" class="btn btn-info ml-2" title="Save" style="width:200px"><span class="text-white">Update</span></button>
                </div>
            </div>
            <input type="hidden" asp-for="TaskItemID" />
            <input type="hidden" asp-for="TaskListID" />
            <input type="hidden" asp-for="CurrentProgressStatusID" />
            <input type="hidden" asp-for="CurrentProgressStatusDescription" />
            <input type="hidden" asp-for="Source" />
        </form>
        </div>
    </div>
</div>