@model IntranetPortal.Areas.CLM.Models.CourseContentViewModel
<h4 class="fw-bold">Channels Learning Management Settings</h4>
<hr />
<div class="card mt-3">
    <div class="card-header bg-dark">
        <h4 class="text-white fw-bold">Course Content Details</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="row">
             <div class="row">
                <div class="col-md-1 mb-2">
                    <label asp-for="SequenceNo" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.SequenceNo</div>
                </div>
                <div class="col-md-6 mb-2">
                    <label asp-for="ContentHeading" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.ContentHeading</div>
                </div>
                <div class="col-md-3 mb-2">
                    <input type="hidden" asp-for="CourseId" />
                    <input type="hidden" asp-for="CourseContentId" />
                    <label asp-for="ContentFormatId" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.ContentFormatDescription</div>
                </div>
                <div class="col-md-2 mb-2">
                    <label asp-for="DurationInMinutes" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.DurationInMinutes</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-2">
                    <label asp-for="ContentTitle" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.ContentTitle</div>
                </div>
                <div class="col-md-4 mb-2">
                    <label asp-for="ContentAudience" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.ContentAudience</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="ContentDescription" class="form-label text-white fw-bold"></label>
                    <textarea class="form-control fw-bold" rows="4" disabled>@Model.ContentDescription</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ContentCreditTo" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.ContentCreditTo</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ContentSource" class="form-label text-white fw-bold"></label>
                    <div class="form-control fw-bold">@Model.ContentSource</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-end">
                    <button class="btn btn-dark" title="Go Back" style="width:200px" onclick="history.back();" ><span class="text-white fw-bold">Back</span></button>
                </div>
            </div>
        </div>
    </div>
</div>