
@model IntranetPortal.Areas.AssetManager.Models.AssetReservationListViewModel
@{
    ViewData["Title"] = "OfficeManager | Bookings";
}
<div class="container">
    <h4>List of Bookings</h4>
    <hr />
    <div class="mb-1">
        <form asp-area="AssetManager" asp-controller="Bookings" asp-action="Index" method="get">
            <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Go Back">
                <span class="text-white">Back</span>
            </a>
            <a asp-area="AssetManager" asp-controller="Bookings" asp-action="Add" class="btn btn-success pr-2" style="width:150px" title="Book Equipment">
                <span class="text-white">New Booking</span>
            </a>
            <select id="tp" name="tp" asp-items="@ViewBag.AssetTypesList" class="border-0 pr-2" style="width:200px">
                <option value=""> Select Equipment Type </option>
            </select>OR
            <input type="text" asp-for="sp" class="border-0 pl-2" style="width:250px" placeholder=" Enter Equipment Name" />
            <input type="submit" value="Search" class="btn btn-dark" style="width:100px" />
        </form>
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null || Model.AssetReservationList == null || Model.AssetReservationList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        int rownumber = 0;
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead class="table-dark">
                        <tr>
                            <th><span class="text-white fw-bold">#</span></th>
                            <th><span class="text-white fw-bold">Equipment</span></th>
                            <th><span class="text-white fw-bold">Event</span></th>
                            <th><span class="text-white fw-bold">Starts</span></th>
                            @*<th><span class="text-white fw-bold">Ends</span></th>*@
                            <th><span class="text-white fw-bold">Status</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @foreach (var item in Model.AssetReservationList)
                        {
                            rownumber++;
                            <tr>
                                <td>
                                    <span class="fw-bold">@rownumber</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="@item.AssetDescription">@item.AssetName</span>
                                </td>
                                <td>
                                    <span class="fw-bold" title="@item.EventLocation">@item.EventDescription</span>
                                </td>
                                <td title="@item.EventEndTime.Value.ToLongDateString() @item.EventEndTime.Value.ToLongTimeString()">
                                    @if (item.EventStartTime != null)
                                    {
                                        <span class="fw-bold">@item.EventStartTime.Value.ToLongDateString() @item.EventStartTime.Value.ToLongTimeString()</span>
                                    }
                                </td>
                                <td>
                                    <span class="fw-bold">@item.ReservationStatus </span>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <a asp-area="AssetManager" asp-controller="Bookings" asp-action="Details" asp-route-id="@item.AssetReservationID" title="See Details" class="btn btn-xs btn-dark" style="width:50px">
                                            <i class="bi bi-card-text" style="font-size: 0.7rem; color:white"></i>
                                        </a>
                                        <a asp-area="AssetManager" asp-controller="Bookings" asp-action="Edit" asp-route-id="@item.AssetReservationID" title="Edit" class="btn btn-xs btn-info" style="width:50px">
                                            <i class="bi bi-pencil-square" style="font-size: 0.7rem; color:white"></i>
                                        </a>
                                        <a asp-area="AssetManager" asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.AssetReservationID" title="Delete" class="btn btn-xs btn-danger" style="width:50px">
                                            <i class="bi bi-trash-fill" style="font-size: 0.7rem; color:white"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>









