@model IntranetPortal.Areas.BAMS.Models.AssignmentDeploymentViewModel
@{
    ViewData["Title"] = "OfficeManager | Edit Deployment";
}
<div>
    <div class="card" style="max-width:800px">
        <div class="card-header bg-info">
            <h4 class="text-white">Edit Deployment</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-area="Bams" asp-controller="Deployment" asp-action="EditDeployment" method="post">
                <div class="row">
                    <input type="hidden" asp-for="AssignmentEventID" />
                    <input type="hidden" asp-for="DeploymentID" />
                    <div class="col-md-6 mb-2">
                        <label asp-for="DeploymentTitle" class="form-label text-white fw-bold"></label>
                        <select asp-for="DeploymentTitle" class="form-control fw-bold">
                            <option value="1st Batch"> 1st Batch </option>
                            <option value="2nd Batch"> 2nd Batch </option>
                            <option value="3rd Batch"> 3rd Batch </option>
                            <option value="4th Batch"> 4th Batch </option>
                            <option value="5th Batch"> 5th Batch </option>
                            <option value="6th Batch"> 6th Batch </option>
                            <option value="7th Batch"> 7th Batch </option>
                            <option value="8th Batch"> 8th Batch </option>
                            <option value="9th Batch"> 9th Batch </option>
                            <option value="10th Batch"> 10th Batch </option>
                        </select>
                        <div><span asp-validation-for="DeploymentTitle" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label asp-for="StationID" class="form-label text-white fw-bold"></label>
                        <select asp-for="StationID" asp-items="@ViewBag.LocationsList" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                        </select>
                        <div><span asp-validation-for="StationID" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label asp-for="DepartureTime" class="form-label text-white fw-bold"></label>
                        <input asp-for="DepartureTime" class="form-control fw-bold">
                        <div><span asp-validation-for="DepartureTime" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label asp-for="ArrivalTime" class="form-label text-white fw-bold"></label>
                        <input asp-for="ArrivalTime" class="form-control fw-bold">
                        <div><span asp-validation-for="ArrivalTime" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="StatusID" class="form-label text-white fw-bold"></label>
                        <select asp-for="StatusID" asp-items="@ViewBag.StatusList" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                        </select>
                        <div><span asp-validation-for="StatusID" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="TeamLeadName" class="form-label text-white fw-bold"></label>
                        <input asp-for="TeamLeadName" class="form-control fw-bold">
                        <div><span asp-validation-for="TeamLeadName" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label asp-for="TeamLeadPhone" class="form-label text-white fw-bold"></label>
                        <input asp-for="TeamLeadPhone" class="form-control fw-bold">
                        <div><span asp-validation-for="TeamLeadPhone" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <a asp-area="Bams" asp-controller="Home" asp-action="Index" class="btn btn-dark ml-2" style="width:100px" title="Return Home">
                        <span class="text-white">Exit</span>
                    </a>
                    <a asp-area="Bams" asp-controller="Deployment" asp-action="List" asp-route-id="@Model.AssignmentEventID" class="btn btn-dark ml-2" style="width:100px" title="Go Back">
                        <span class="text-white">Back</span>
                    </a>
                    @if (!Model.OperationIsCompleted)
                    {
                        <a asp-area="Bams" asp-controller="Deployment" asp-action="EditDeployment" asp-route-id="@Model.DeploymentID" class="btn btn-warning ml-1" style="width:100px" title="Refresh">
                            <span class="text-white">Refresh</span>
                        </a>
                        <button type="submit" class="btn btn-info ml-2" title="Save Changes" style="width:200px"><span class="text-white">Save Changes</span></button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_bams/bams_assignment_new.js"></script>
}









