
@model IntranetPortal.Areas.ERM.Models.EmployeeReportLineViewModel
@{
    ViewData["Title"] = "OfficeManager | New Reporting Line";
}
<div>
    <div class="card" style="max-width:800px">
        <div class="card-header bg-success">
            <h4 class="text-white">New Reporting Line</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="ERM" asp-controller="Reporting" asp-action="AddReportingLine" method="post">
            <div class="row">
                <input type="hidden" asp-for="EmployeeID" />
                <div class="col-md-6 mb-2">
                    <label asp-for="EmployeeName" class="form-label text-white fw-bold"></label>
                    <div class="input-group">
                        <input asp-for="EmployeeName" class="form-control fw-bold" readonly="readonly" aria-label="Employee Name" aria-describedby="button-addon2">
                    </div>
                    <div><span asp-validation-for="EmployeeName" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-2">
                    <label asp-for="ReportsToEmployeeName" class="form-label text-white fw-bold"></label>
                    <input asp-for="ReportsToEmployeeName" class="form-control fw-bold">
                    <div><span asp-validation-for="ReportsToEmployeeName" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label asp-for="ReportStartDate" class="form-label text-white fw-bold"></label>
                    <input asp-for="ReportStartDate" class="form-control fw-bold">
                    <div><span asp-validation-for="ReportStartDate" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-2">
                    <label asp-for="ReportEndDate" class="form-label text-white fw-bold"></label>
                    <input asp-for="ReportEndDate" class="form-control fw-bold">
                    <div><span asp-validation-for="ReportEndDate" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ReportingLineType" class="form-label text-white fw-bold"></label>
                    <select asp-for="ReportingLineType" class="form-control fw-bold">
                        <option value=""> - Select - </option>
                        <option value="LINE MANAGER"> LINE MANAGER </option>
                        <option value="ALT. LINE MANAGER"> ALT. LINE MANAGER </option>
                        <option value="SUPERVISOR"> SUPERVISOR </option>
                        <option value="TEAM LEAD"> TEAM LEAD</option>
                    </select>
                    <div><span asp-validation-for="ReportingLineType" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="TeamID" class="form-label text-white fw-bold"></label>
                    <select asp-for="TeamID" asp-items="@ViewBag.TeamsList" class="form-control fw-bold">
                        <option value=""> - Select - </option>
                    </select>
                    <div><span asp-validation-for="TeamID" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <a asp-area="ERM" asp-controller="Home" asp-action="Index" class="btn btn-dark ml-2" style="width:100px" title="Return Home">
                    <span class="text-white">Exit</span>
                </a>
                <a asp-area="ERM" asp-controller="Reporting" asp-action="ReportLines" asp-route-id="@Model.EmployeeID" asp-route-src="@Model.Source" class="btn btn-dark ml-2" style="width:100px" title="Go Back">
                    <span class="text-white">Back</span>
                </a>
                @if (!Model.OperationIsCompleted)
                {
                    <a asp-area="ERM" asp-controller="Reporting" asp-action="AddReportingLine" asp-route-id="@Model.EmployeeID" class="btn btn-warning ml-1" style="width:100px" title="Clear">
                        <span class="text-white">Clear</span>
                    </a>
                    <button type="submit" class="btn btn-success ml-2" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                }
            </div>
            <input type="hidden" asp-for="Source" />
        </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_erm/erm_reportinglines_add.js"></script>
}








