@using IntranetPortal.Base.Models.SecurityModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <!-- JQuery UI CSS -->
    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- Boostrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome icons (free version)-->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/lib/startbootstrap/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap icons -->
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <!-- Matrix CSS -->
    <link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
    <!-- Summernote CSS -->
    <link href="~/lib/summernote/dist/summernote-bs5.css" rel="stylesheet" />
    <!-- Custom Site CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
           <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="index">
                <img src="~/img/logo_h60_w47.png" alt="" width="60" height="47" />
            </a>
                <span class="fw-bold text-white" style="font-size:1.3rem">OfficeManager</span>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mx-2 my-1">
                        <a class="btn btn-outline-light dropdown-toggle" id="navbarDropdownPortfolio" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Channels Online</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="https://www.facebook.com/channelsforum" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
                            <a class="dropdown-item" href="https://www.youtube.com/subscription_center?add_user=channelsweb" target="_blank"><i class="fab fa-youtube-square"></i> Youtube</a>
                            <a class="dropdown-item" href="https://www.instagram.com/channelstelevision/" target="_blank"><i class="fab fa-instagram-square"></i> Instagram</a>
                            <a class="dropdown-item" href="https://twitter.com/channelstv" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
                            <a class="dropdown-item" href="https://www.channelstv.com" target="_blank"><i class="fas fa-globe"></i> Channels Website</a>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item mx-1 my-1">
                            <a class="btn btn-outline-light" title="Applications" asp-area="" asp-controller="Home" asp-action="Apps">
                                Applications
                            </a>
                        </li>
                        <li class="nav-item ml-1 mr-2 my-1 dropdown">
                            <a class="btn btn-outline-light dropdown-toggle" id="navbarDropdownPages" data-bs-toggle="dropdown" role="button" aria-expanded="false" title="@User.Identity.Name">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                                <a class="dropdown-item" asp-area="ERM" asp-controller="Employees" asp-action="Profile" asp-route-id=""><i class="bi bi-person-badge-fill"></i> View Profile</a>
                                <a class="dropdown-item" asp-area="ERM" asp-controller="Reporting" asp-action="ReportLines" asp-route-id="" asp-route-src="hmp"><i class="bi bi-diagram-2-fill"></i> Reporting</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ChangePassword"><i class="bi bi-key-fill"></i> Password</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout"><i class="bi bi-door-closed-fill"></i> Log Out</a>
                            </div>
                        </li>
                        @if (ViewData["UnreadMessageCount"] != null)
                        {
                            <li class="nav-item mx-1 my-1">
                                <a asp-area="" asp-controller="Home" asp-action="MessageList" asp-route-tp="unread" class="btn btn-outline-light position-relative" title="Click to open Message Inbox">
                                    <i class="bi bi-envelope-fill"></i>
                                    @if ((int)ViewData["UnreadMessageCount"] > 99)
                                    {
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            99+
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @ViewData["UnreadMessageCount"]
                                        </span>
                                    }
                                </a>
                            </li>

                        }
                    }
                    else
                    {
                        <li class="nav-item mx-1 my-1">
                            <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-outline-light position-relative" title="Login">
                                <i class="bi bi-door-open-fill"></i>
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="px-1 py-1 mx-1 my-1" style="min-height:500px">
        @RenderBody()
    </div>
    <!-- Modal Popup -->
    <div class="modal fade" tabindex="-1" id="form-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-white fw-bold"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>


    <!-- Footer-->
    <footer class="py-5 bg-info">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Channels Incorporated @DateTime.Now.Year</p></div>
    </footer>
    <!-- jQuery JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--- JQuery UI JS -->
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <!-- jQuery Validate JS -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- jQuery Validation Unobstructive -->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="~/lib/font-awesome/js/all.js" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="~/lib/startbootstrap/js/scripts.js"></script>
    <!-- Matrix JS -->
    <script src="~/lib/matrix/dist/js/waves.js"></script>
    <!-- Summernote JS -->
    <script src="~/lib/summernote/dist/summernote-bs5.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
