
@model IntranetPortal.Areas.PMS.Models.EvaluationListViewModel
<div class="container">
    <h4 class="mb-1">Final Evaluation List: Key Performance Areas (KPAs)</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 text-start">
            <a asp-area="PMS" asp-controller="Process" asp-action="AppraisalsSubmittedtoMe" asp-route-id="@Model.ReviewSessionID" title="Go Back" class="btn btn-outline-light text-dark" >
                <i class="bi bi-backspace fw-bolder" style="font-size: 1.1rem;"></i><span class="fw-bold ml-2" style="font-size: 1.0rem;">Back</span>
            </a>
        </div>
        <div class="col-md-6 text-end">
            <a asp-area="PMS" asp-controller="Process" asp-action="CmpFinalEvaluationList" asp-route-id="@Model.ReviewHeaderID" asp-route-ad="@Model.AppraiserID" asp-route-sd="@Model.SubmissionID" title="Proceed to Evaluate Competencies" class="btn btn-sm btn-light text-dark ml-2">
                <span class="fw-bold mr-2" style="font-size: 1.0rem;">Proceed to Competencies</span><i class="bi bi-chevron-double-right fw-bolder" style="font-size: 1.1rem;"></i>
            </a>
        </div>
    </div>
    <div class="row">
        @if (Model == null || Model.ReviewResultList == null || Model.ReviewResultList.Count < 1)
        {
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold text-dark">No record was found.</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            int row_number = 0;
            <div class="table-responsive">
                <table class="table border-0">
                    <tbody>
                        @foreach (var kpa in Model.ReviewResultList)
                        {
                            row_number++;
                            <tr style="border-bottom:2px solid #abb2b9">
                                <td>
                                    <div class="card">
                                        <div class="card-header bg-info">
                                            <span class="fw-bold text-white" style="font-size: 0.9rem;">KPA #@row_number</span>
                                        </div>
                                        <div class="card-body bg-secondary" >
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label text-white fw-bold">Description</label>
                                                    <textarea asp-for="@kpa.ReviewMetricDescription" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@kpa.ReviewMetricDescription</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label text-white fw-bold">Measurement</label>
                                                    <textarea asp-for="@kpa.ReviewMetricMeasurement" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@kpa.ReviewMetricMeasurement</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label text-white fw-bold">Target Achievement</label>
                                                    <textarea asp-for="@kpa.ReviewMetricTarget" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@kpa.ReviewMetricTarget</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label text-white fw-bold">Achievement according to Appraisee</label>
                                                    <textarea asp-for="@kpa.AppraiseeAchievement" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@kpa.ActualAchievement</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label text-white fw-bold">Actual Achievement</label>
                                                    <textarea id="txt_actual_achievement_@kpa.ReviewMetricId" value="@kpa.ActualAchievement" class="form-control fw-bold" rows="2" style="font-size:1.0rem">@kpa.ActualAchievement</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label text-white fw-bold">Appraiser Comment</label>
                                                    <textarea id="txt_appraiser_comment_@kpa.ReviewMetricId" value="@kpa.AppraiserComment" class="form-control fw-bold" rows="2" style="font-size:1.0rem">@kpa.AppraiserComment</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-white fw-bold">Appraisee's Score</label>
                                                    <div class="form-control fw-bold">@kpa.AppraiseeScore</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label text-white fw-bold">Enter Final Score</label>
                                                    <input id="txt_appraiser_score_@kpa.ReviewMetricId" value="@kpa.AppraiserScore" class="form-control fw-bold" type="number" min="0" max="100" placeholder="Enter Score" />
                                                </div>
                                                <div class="col-md-4 mt-2" id="span_@kpa.ReviewMetricId">
                                                </div>
                                                <div class="col-md-4 mt-2">
                                                    <button class="btn btn-info" onclick="saveKpaScore(@kpa.ReviewResultId, @kpa.ReviewHeaderId, @kpa.ReviewMetricId, '@Model.AppraiserID', '@Model.PrimaryAppraiserID', @Model.SubmissionID)"><span class="fw-bold">Save Score</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 text-start">
                    <a asp-area="PMS" asp-controller="Process" asp-action="AppraisalsSubmittedtoMe" asp-route-id="@Model.ReviewSessionID" title="Go Back" class="btn btn-outline-light text-dark">
                        <i class="bi bi-backspace fw-bolder" style="font-size: 1.1rem;"></i><span class="fw-bold ml-2" style="font-size: 1.0rem;">Back</span>
                    </a>
                </div>
                <div class="col-md-6 text-end">
                    <a asp-area="PMS" asp-controller="Process" asp-action="CmpFinalEvaluationList" asp-route-id="@Model.ReviewHeaderID" asp-route-ad="@Model.AppraiserID"  asp-route-sd="@Model.SubmissionID"  title="Proceed to Evaluate Competencies" class="btn btn-sm btn-light text-dark ml-2">
                        <span class="fw-bold mr-2" style="font-size: 1.0rem;">Proceed to Competencies</span><i class="bi bi-chevron-double-right fw-bolder" style="font-size: 1.1rem;"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/pms.js"></script>
}


