@model IntranetPortal.Areas.AssetManager.Models.AssetViewModel
@{
    ViewData["Title"] = "OfficeManager | New Asset";
}
<div>
    <div class="card" style="min-width:600px">
        <div class="card-header bg-success">
            <h4 class="text-white">New Asset</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form enctype="multipart/form-data" asp-area="AssetManager" asp-controller="Settings" asp-action="AddAsset" method="post">
                <div class="row">
                    <div class="col-md-8 mb-1">
                        <input type="hidden" asp-for="AssetID" />
                        <label asp-for="AssetName" class="form-label text-white fw-bold"></label>
                        <input asp-for="AssetName" class="form-control fw-bold">
                        <div><span asp-validation-for="AssetName" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <label asp-for="AssetNumber" class="form-label text-white fw-bold"></label>
                        <input asp-for="AssetNumber" class="form-control fw-bold">
                        <div><span asp-validation-for="AssetNumber" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label asp-for="AssetDescription" class="form-label text-white fw-bold"></label>
                        <textarea class="form-control fw-bold" name="@Html.NameFor(m => m.AssetDescription)">@Model.AssetDescription</textarea>
                        <div><span asp-validation-for="AssetDescription" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  mb-1">
                        <label asp-for="AssetTypeID" class="form-label text-white fw-bold"></label>
                        <select asp-for="AssetTypeID" asp-items="@ViewBag.TypesList" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                        </select>
                        <div><span asp-validation-for="AssetTypeID" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6  mb-1">
                        <label asp-for="BaseLocationID" class="form-label text-white fw-bold"></label>
                        <select asp-for="BaseLocationID" asp-items="@ViewBag.LocationsList" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                        </select>
                        <div><span asp-validation-for="BaseLocationID" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  mb-1">
                        <label asp-for="Condition" class="form-label text-white fw-bold"></label>
                        <select asp-for="Condition" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                            <option value="In Good Condition">In Good Condition</option>
                            <option value="Faulty (Requires Repairs)">Faulty (Requires Repair)</option>
                            <option value="Broken & Unfixable">Broken & Unfixable</option>
                            <option value="Lost or Stolen">Lost or Stolen</option>
                            <option value="Disposed or Scrapped">Disposed or Scrapped</option>
                        </select>
                        <div><span asp-validation-for="Condition" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6  mb-1">
                        <label asp-for="UsageStatus" class="form-label text-white fw-bold"></label>
                        <select asp-for="UsageStatus" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                            <option value="In Use">In Use</option>
                            <option value="Available">Available</option>
                            <option value="Booked">Booked</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>
                        <div><span asp-validation-for="UsageStatus" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <label asp-for="PurchaseDate" class="form-label text-white fw-bold"></label>
                        <input asp-for="PurchaseDate" class="form-control fw-bold">
                        <div><span asp-validation-for="PurchaseDate" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="PurchaseAmount" class="form-label text-white fw-bold"></label>
                        <input asp-for="PurchaseAmount" class="form-control fw-bold">
                        <div><span asp-validation-for="PurchaseAmount" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="ParentAssetID" class="form-label text-white fw-bold"></label>
                        <select asp-for="ParentAssetID" asp-items="@ViewBag.AssetsList" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                        </select>
                        <div><span asp-validation-for="ParentAssetID" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="hidden" asp-for="ImagePath" />
                        <label asp-for="ImageUpload" class="form-label text-white fw-bold"></label>
                        <input asp-for="ImageUpload" class="form-control fw-bold">
                        <div><span asp-validation-for="ImageUpload" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark ml-2" style="width:100px" title="Return Home">
                        <span class="text-white">Exit</span>
                    </a>
                    <a asp-area="AssetManager" asp-controller="Settings" asp-action="Assets" class="btn btn-dark ml-1" style="width:100px" title="Return to Assets">
                        <span class="text-white">Go Back</span>
                    </a>
                    @if (!Model.OperationIsCompleted)
                    {
                        <a asp-area="AssetManager" asp-controller="Settings" asp-action="AddAsset" class="btn btn-warning ml-1" style="width:100px" title="Clear">
                            <span class="text-white">Clear</span>
                        </a>
                        <button type="submit" class="btn btn-success ml-2" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>



