@model IntranetPortal.Areas.AssetManager.Models.AssetDivisionListViewModel
@{
    ViewData["Title"] = "OfficeManager | Asset Control Units";
    Layout = "~/Views/Shared/_BlueLayout.cshtml";
}

<div class="container">
    <h4>Asset Control Units</h4>
    <hr />
    <div class="mb-1">
        <form asp-area="AssetManager" asp-controller="Settings" asp-action="Divisions" method="get">
            <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                <span class="text-white">Back</span>
            </a>
            <a asp-area="AssetManager" asp-controller="Settings" asp-action="AddDivision" class="btn btn-success" style="width:200px" title="Click to Add New Division">
                <span class="text-white">New Control Unit</span>
            </a>
            <input type="text" class="border-0 text-secondary fw-bold" style="width:250px" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="  Enter Text to Search..." />
            <input type="submit" value="Search" class="btn btn-primary" style="width:100px" />
        </form>

        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model == null)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else if (Model.AssetDivisionList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead class="table-dark">
                        <tr>
                            <th><span class="text-white fw-bold">#</span></th>
                            <th><span class="text-white fw-bold">Name</span></th>
                            <th><span class="text-white fw-bold">Description</span></th>
                            <th><span class="text-white fw-bold">Location</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-warning">
                        @{
                            int rowNumber = 0;
                        }
                        @foreach (var division in Model.AssetDivisionList)
                        {
                            rowNumber++;
                        <tr>
                            <td>@rowNumber.ToString()</td>
                            <td>
                                <span class="fw-bold">@division.Name</span>
                            </td>
                            <td>
                                <span class="fw-bold">@division.Description</span>
                            </td>
                            <td>
                                <span class="fw-bold">@division.LocationName</span>
                            </td>
                            <td>
                                <div class="text-center">
                                    <a asp-area="AssetManager" asp-controller="Settings" asp-action="EditDivision" asp-route-id="@division.ID" title="Edit" class="btn btn-xs btn-primary" style="width:50px">
                                        <i class="bi bi-pencil-square" style="font-size: 0.7rem;"></i>
                                    </a>
                                    <a asp-area="AssetManager" asp-controller="Settings" asp-action="DeleteDivision" asp-route-id="@division.ID" title="Delete Division" class="btn btn-xs btn-danger" style="width:50px">
                                        <i class="bi bi-trash-fill" style="font-size: 0.7rem; color:white"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>






