@using IntranetPortal.Base.Enums
@model IntranetPortal.Areas.WKS.Models.ProjectViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Project";
}
<div>
    <div class="card" style="max-width:800px">
        <div class="card-header bg-info">
            @if (Model != null && Model.ID > 0)
            {
                <h4 class="text-white">Edit Project</h4>
            }
            else
            {
                <h4 class="text-white">New Project</h4>
            }
        </div>
        <div class="card-body" style="background-color:#D8D8D8">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="WKS" asp-controller="Projects" asp-action="Manage" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label asp-for="FolderID" class="form-label text-dark fw-bold"></label>
                    <select asp-for="FolderID" asp-items="@ViewBag.FolderSelectList" class="form-control fw-bold">
                        <option value=""> - Select - </option>
                    </select>
                    <div><span asp-validation-for="FolderID" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-2">
                    <label asp-for="Priority" class="form-label text-dark fw-bold"></label>
                    <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<WorkItemPriority>()" class="form-control fw-bold">
                    </select>
                    <div><span asp-validation-for="Priority" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-2">
                    <label asp-for="Code" class="form-label text-dark fw-bold"></label>
                    <input asp-for="Code" class="form-control fw-bold" readonly="readonly">
                    <div><span asp-validation-for="Code" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="Title" class="form-label text-dark fw-bold"></label>
                    <input asp-for="Title" class="form-control fw-bold">
                    <div><span asp-validation-for="Title" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="Description" class="form-label text-dark fw-bold"></label>
                    <textarea class="form-control fw-bold" rows="2" name="@Html.NameFor(m => m.Description)">@Model.Description</textarea>
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="AssignedToName" class="form-label text-dark fw-bold"></label>
                    <input asp-for="AssignedToName" class="form-control fw-bold">
                    <div><span asp-validation-for="AssignedToName" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="ExpectedStartTime" class="form-label text-dark fw-bold"></label>
                    <input asp-for="ExpectedStartTime" class="form-control fw-bold">
                    <div><span asp-validation-for="ExpectedStartTime" class="text-danger"></span></div>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="ExpectedDueTime" class="form-label text-dark fw-bold"></label>
                    <input asp-for="ExpectedDueTime" class="form-control fw-bold">
                    <div><span asp-validation-for="ExpectedDueTime" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-area="WKS" asp-controller="Projects" asp-action="MyProjects" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                        <span class="text-white">Back</span>
                    </a>
                    @if (!Model.OperationIsCompleted)
                    {
                        <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@Model.ID" class="btn btn-warning ml-1" style="width:100px" title="Clear">
                            <span class="text-white">Clear</span>
                        </a>
                        <button type="submit" class="btn btn-info ml-2" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                    }
                </div>
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="FolderID" />
            <input type="hidden" asp-for="WorkspaceID" />
            <input type="hidden" asp-for="OwnerID" />
            <input type="hidden" asp-for="UnitID" />
            <input type="hidden" asp-for="DepartmentID" />
            <input type="hidden" asp-for="LocationID" />
        </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_wks/wks_myworkspace.js"></script>
}


