@model IntranetPortal.Areas.WKS.Models.ProjectMoreInfoViewModel
@{
    ViewData["Title"] = "OfficeManager | Manage Project";
}
<div>
    <div class="card" style="max-width:800px">
        <div class="card-header bg-info">
                <h4 class="text-white">Additional Information</h4>
        </div>
        <div class="card-body" style="background-color:#D8D8D8">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="WKS" asp-controller="Projects" asp-action="MoreInfo" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label asp-for="Deliverables" class="form-label text-dark fw-bold"></label>
                    <textarea class="form-control fw-bold" rows="3" name="@Html.NameFor(m => m.Deliverables)">@Model.Deliverables</textarea>
                    <div><span asp-validation-for="Deliverables" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Instructions" class="form-label text-dark fw-bold"></label>
                    <textarea class="form-control fw-bold" rows="3" name="@Html.NameFor(m => m.Instructions)">@Model.Instructions</textarea>
                    <div><span asp-validation-for="Instructions" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-area="WKS" asp-controller="Projects" asp-action="MyProjects" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                        <span class="text-white">Back</span>
                    </a>
                    <button type="submit" class="btn btn-info ml-2" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                </div>
            </div>
            <input type="hidden" asp-for="ProjectID" />
            <input type="hidden" asp-for="FolderID" />
        </form>
        </div>
    </div>
</div>




