@using IntranetPortal.Base.Enums;
@model IntranetPortal.Areas.WKS.Models.ProjectListViewModel
@{
    ViewData["Title"] = "OfficeManager | My Projects";
}
<div class="container">
    <h4>My Projects</h4>
    <hr />
    <div class="mb-1">
        <form asp-area="WKS" asp-controller="Projects" asp-action="MyProjects" asp-route-id="@Model.id" method="get">
            @if (Model.Source == "xws")
            {
                <a asp-area="WKS" asp-controller="Home" asp-action="ExecutiveWorkspace" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                    <span class="text-white">Back</span>
                </a>
            }
            else
            {
                <a asp-area="" asp-controller="Home" asp-action="Apps" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                    <span class="text-white">Back</span>
                </a>
            }

            <select asp-for="id" asp-items="@ViewBag.FolderSelectList" class="border-0" style="width:250px">
                <option value="">- ALL -</option>
            </select>
            <input asp-for="sp" placeholder="Enter Project Title to search" class="border-0" style="width:200px" />
            <input type="submit" value="Search" class="btn btn-dark pr-3" style="width:100px" />
            <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-fd="@Model.id" class="btn btn-success" style="width:200px" title="Add New Project">
                <i class="bi bi-plus-lg text-white fw-bold"></i>  <span class="text-white ml-2">New Project</span>
            </a>
        </form>

        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model.ProjectList == null || Model.ProjectList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        @if (Model != null && Model.ProjectList != null && Model.ProjectList.Count > 0)
        {
            <div class="row mt-3">
                <div class="table-responsive">
                    <table class="table table-hover table-sm ">
                        <thead class="table-dark">
                            <tr>
                                <th class="p-2"><span class="text-white fw-bold">Title</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Status</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Assigned To</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Due Date</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Folder</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var project in Model.ProjectList)
                            {
                                if (project.ExpectedDueTime.Value < DateTime.UtcNow)
                                {
                                    <tr>
                                        <td class="p-2">
                                            <span class="fw-bold" title="@project.Description">@project.Title</span>
                                        </td>
                                        <td class="p-2" title="Over Due">
                                            <span class="badge rounded-pill fw-bold text-white" style="font-size: 1.0rem; background-color: #943126; width:150px">Over Due</span>
                                        </td>
                                        <td class="p-2" title="@project.AssignedToName">
                                            <i class="bi bi-person fw-bold" title="@project.AssignedToName" style="font-size: 1.2rem;"></i>
                                        </td>
                                        <td class="p-2">
                                            <span class="fw-bold">@project.ExpectedDueTime.Value.ToString("dddd, dd MMMM yyyy")</span>
                                        </td>
                                        <td class="p-2">
                                            <span class="fw-bold" title="@project.FolderTitle">@project.FolderTitle</span>
                                        </td>
                                        <td class="p-2">
                                            <div class="text-center">
                                                <a asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.ID" title="Details" class="btn btn-sm btn-dark">
                                                    <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                </a>
                                                <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@project.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                    <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                </a>
                                                <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                    <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    switch (project.ProgressStatus)
                                    {
                                        case WorkItemProgressStatus.InProgress:
                                            <tr>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.Description">@project.Title</span>
                                                </td>
                                                <td class="p-2">
                                                    <span title="In Progress" class="badge rounded-pill fw-bold text-white" style="font-size: 1.0rem; background-color:#2ecc71; width:150px">In Progress</span>
                                                </td>
                                                <td class="p-2" title="@project.AssignedToName">
                                                    <i class="bi bi-person fw-bold" title="@project.AssignedToName" style="font-size: 1.2rem;"></i>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold">@project.ExpectedDueTime.Value.ToString("dddd, dd MMMM yyyy")</span>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.FolderTitle">@project.FolderTitle</span>
                                                </td>
                                                <td class="p-2">
                                                    <div class="text-center">
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.ID" title="Details" class="btn btn-sm btn-dark">
                                                            <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@project.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                            <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                            <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                        case WorkItemProgressStatus.Completed:
                                            <tr>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.Description">@project.Title</span>
                                                </td>
                                                <td class="p-2">
                                                    <span title="Completed" class="badge rounded-pill fw-bold text-dark" style="font-size: 1.0rem; background-color: #8e44ad; width:150px">Completed</span>
                                                </td>
                                                <td class="p-2" title="@project.AssignedToName">
                                                    <i class="bi bi-person fw-bold" title="@project.AssignedToName" style="font-size: 1.2rem;"></i>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold">@project.ExpectedDueTime.Value.ToString("dddd, dd MMMM yyyy")</span>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.FolderTitle">@project.FolderTitle</span>
                                                </td>
                                                <td class="p-2">
                                                    <div class="text-center">
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.ID" title="Details" class="btn btn-sm btn-dark">
                                                            <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@project.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                            <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                            <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                        case WorkItemProgressStatus.NotStarted:
                                            <tr class="table-light">
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.Description">@project.Title</span>
                                                </td>
                                                <td class="p-2">
                                                    <span title="Not Started" class="badge rounded-pill fw-bold text-dark" style="font-size: 1.0rem; background-color:#DFFF00; width:150px" >Not Started</span>
                                                </td>
                                                <td class="p-2" title="@project.AssignedToName">
                                                    <i class="bi bi-person fw-bold" title="@project.AssignedToName" style="font-size: 1.2rem;"></i>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold">@project.ExpectedDueTime.Value.ToString("dddd, dd MMMM yyyy")</span>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.FolderTitle">@project.FolderTitle</span>
                                                </td>
                                                <td class="p-2">
                                                    <div class="text-center">
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.ID" title="Details" class="btn btn-sm btn-dark">
                                                            <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@project.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                            <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                            <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                        case WorkItemProgressStatus.OnHold:
                                            <tr class="table-secondary">
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.Description">@project.Title</span>
                                                </td>
                                                <td class="p-2">
                                                    <span title="On Hold" class="badge rounded-pill fw-bold text-dark" style="font-size: 1.0rem; background-color:#212f3d; width:150px" >On Hold</span>
                                                </td>
                                                <td class="p-2" title="@project.AssignedToName">
                                                    <i class="bi bi-person fw-bold" title="@project.AssignedToName" style="font-size: 1.2rem;"></i>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold">@project.ExpectedDueTime.Value.ToString("dddd, dd MMMM yyyy")</span>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.FolderTitle">@project.FolderTitle</span>
                                                </td>
                                                <td class="p-2">
                                                    <div class="text-center">
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.ID" title="Details" class="btn btn-sm btn-dark">
                                                            <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@project.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                            <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                            <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                        default:
                                            <tr class="table-light">
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.Description">@project.Title</span>
                                                </td>
                                                <td class="p-2">
                                                    <i title="In Progress" class="badge rounded-pill fw-bold text-white" style="font-size: 1.2rem; background-color: #27ae60; width:150px" />
                                                </td>
                                                <td class="p-2" title="@project.AssignedToName">
                                                    <i class="bi bi-person fw-bold" title="@project.AssignedToName" style="font-size: 1.2rem;"></i>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold">@project.ExpectedDueTime.Value.ToString("dddd, dd MMMM yyyy")</span>
                                                </td>
                                                <td class="p-2">
                                                    <span class="fw-bold" title="@project.FolderTitle">@project.FolderTitle</span>
                                                </td>
                                                <td class="p-2">
                                                    <div class="text-center">
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.ID" title="Details" class="btn btn-sm btn-dark">
                                                            <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@project.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                            <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                        </a>
                                                        <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                            <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>
@section Scripts{
    <script src="~/js/js_asm/asm_master_assets.js"></script>
}










