@using IntranetPortal.Base.Enums
@model IntranetPortal.Areas.WKS.Models.ProjectViewModel
<div>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="MyProjects" title="Go Back" class="btn btn-sm btn-outline-light text-dark">
                                <i class="bi bi-backspace fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Back</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="Manage" asp-route-id="@Model.ID" title="Edit" class="btn btn-sm btn-outline-light text-dark">
                                <i class="bi bi-pencil fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Edit</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.ID" title="Delete" class="btn btn-sm btn-outline-light text-dark">
                                <i class="bi bi-trash fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Delete</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="Team" asp-route-id="@Model.ID" title="Project Team" class="btn btn-sm btn-light text-dark">
                                <i class="bi bi-people fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Team</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="Timeline" asp-route-id="@Model.ID" title="Project Timeline" class="btn btn-sm btn-light text-dark">
                                <i class="bi bi-calendar-range fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Timeline</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="Progress" asp-route-id="@Model.ID" title="Progress Updates" class="btn btn-sm btn-light text-dark">
                                <i class="bi bi-arrow-up-right-circle fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Progress Updates</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="Costs" asp-route-id="@Model.ID" title="Project Cost" class="btn btn-sm btn-light text-dark">
                                <i class="bi bi-cash fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 1.0rem;">Costs</span>
                            </a>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fw-bold" style="font-size: 0.8rem;">More Actions</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a asp-area="AssetManager" asp-controller="Master" asp-action="EditAsset" asp-route-id="@Model.ID" title="Edit Asset" class="btn btn-sm btn-light text-dark">
                                        <i class="bi bi-pencil-square fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Edit</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="AssetManager" asp-controller="Master" asp-action="DeleteAsset" asp-route-id="@Model.ID" title="Delete" class="btn btn-sm btn-light text-dark">
                                        <i class="bi bi-trash fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Delete</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="text-white">Project Information</h4>
            </div>
            <div class="card-body bg-secondary" >
                @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="bi bi-x-circle"></i>
                        <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle"></i>
                        <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-circle"></i>
                        <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form asp-area="WKS" asp-controller="Projects" asp-action="ProjectInfo" method="post" autocomplete="off">
                    <div class="row">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="FolderID" />
                        <input type="hidden" asp-for="WorkspaceID" />
                        <input type="hidden" asp-for="OwnerID" />
                        <div class="col-md-6 mb-2">
                            <label asp-for="Title" class="form-label text-white fw-bold"></label>
                            <input asp-for="Title" class="form-control fw-bold" readonly="readonly">
                        </div>
                        <div class="col-md-1 mb-2">
                            <label asp-for="Code" class="form-label text-white fw-bold"></label>
                            <input asp-for="Code" class="form-control fw-bold" readonly="readonly">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label asp-for="FolderTitle" class="form-label text-white fw-bold"></label>
                            <input asp-for="FolderTitle" class="form-control fw-bold" readonly="readonly" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <label asp-for="Priority" class="form-label text-white fw-bold"></label>
                            <div class="form-control fw-bold">
                                @Model.Priority.ToString()
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12  mb-2">
                                    <label asp-for="Description" class="form-label text-white fw-bold"></label>
                                    <textarea class="form-control fw-bold" rows="2" readonly="readonly" name="@Html.NameFor(m => m.Description)">@Model.Description</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  mb-2">
                                    <label asp-for="Deliverables" class="form-label text-white fw-bold"></label>
                                    <textarea class="form-control fw-bold" rows="3" name="@Html.NameFor(m => m.Deliverables)" readonly="readonly">@Model.Deliverables</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label asp-for="ExpectedStartTime" class="form-label text-white fw-bold"></label>
                                    <div class="form-control fw-bold">
                                        @Model.ExpectedStartTime.Value.ToLongDateString() 
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label asp-for="ExpectedDueTime" class="form-label text-white fw-bold"></label>
                                    <div class="form-control fw-bold">
                                        @Model.ExpectedDueTime.Value.ToLongDateString()
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="AssignedToName" class="form-label text-white fw-bold"></label>
                                    <input asp-for="AssignedToName" class="form-control fw-bold" readonly="readonly">
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="LocationName" class="form-label text-white fw-bold"></label>
                                    <input asp-for="LocationName" class="form-control fw-bold" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="DepartmentName" class="form-label text-white fw-bold"></label>
                                    <input asp-for="DepartmentName"  class="form-control fw-bold" readonly="readonly"/>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="UnitName" class="form-label text-white fw-bold"></label>
                                    <input asp-for="UnitName"  class="form-control fw-bold" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Instructions" class="form-label text-white fw-bold"></label>
                            <textarea class="form-control fw-bold" rows="3" name="@Html.NameFor(m => m.Instructions)" readonly="readonly">@Model.Instructions</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a asp-area="WKS" asp-controller="Projects" asp-action="MyProjects" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                                <span class="text-white">Back</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




