@model IntranetPortal.Models.MessageListViewModel
@{
    ViewData["Title"] = "OfficeManager | Messages";
    Layout = "~/Views/Shared/_BlueLayout.cshtml";
}
<div class="container">
    <h3 class="mb-3 mt-3">Messages</h3>
    <hr />
    <div class="mb-2">
        <form asp-area="" asp-controller="Home" asp-action="Messages" method="get">
            <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-dark" style="width:100px" title="Click to Go Back">
                <span class="text-white">Back</span>
            </a>&nbsp;&nbsp;
            <span class="fw-bold">Display:</span>
            <select id="recordCount" name="recordCount" class="fw-bold border-0 text-secondary" style="width:75px" value="@ViewData["RecordCount"]">
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <input type="text" class="border-0 text-secondary fw-bold" style="width:300px" placeholder="... Enter Search Text ..." name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-sm btn-dark" style="width:100px" />
        </form>
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                <span>Unread Messages</span>
                <span class="badge rounded-pill bg-light text-dark fw-bold">
                    @ViewData["UnreadMessageCount"]
                </span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                <span>Read Messages</span>
                <span class="badge rounded-pill bg-light text-dark fw-bold">
                    @ViewData["ReadMessageCount"]
                </span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="mb-1">
                <div class="row">
                    @if (Model.UnreadMessagesCount > 0)
                    {
                        <table class="table table-sm table-hover">
                            <thead class="table-dark" >
                                <tr>
                                    <th class="p-2 m-0"><span class="text-white fw-bolder">Time Received</span></th>
                                    <th class="p-2 m-0"><span class="text-white fw-bolder">Subject</span></th>
                                    <th class="p-2 m-0">
                                        <a class="btn btn-xs btn-outline-danger" id="btn-del-unread" style="display:block">
                                            <i class="bi bi-trash" style="font-size: 0.8rem; color:white"></i>
                                            <span class="text-white">Delete All</span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-info">
                                @foreach (var msg in Model.UnreadMessages)
                                {
                                <tr>
                                    <td class="p-1 m-0">
                                        <span class="text-dark">@msg.SentTime.Value.ToLongDateString()</span>&nbsp;
                                        <span class="text-dark">@msg.SentTime.Value.ToLongTimeString()</span>
                                    </td>
                                    <td class="p-1 m-0">
                                        <span title="@msg.MessageBody" class="text-dark">@msg.Subject</span>
                                    </td>
                                    <td class="p-1 m-0">
                                        <a asp-area="" asp-controller="Home" asp-action="Messages" asp-route-id="@msg.MessageDetailID" title="Read Message" class="btn btn-xs btn-info">
                                            <i class="bi bi-card-text" style="font-size: 0.8rem; color:white"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger" id="btn-del-msg" title="Delete Message" onclick="alert('Are you sure?')">
                                            <i class="bi bi-trash" style="font-size: 0.8rem; color:white"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="bi bi-exclamation-circle"></i>
                            <span class="fw-bold">No Message was found.</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="mb-1">
                <div class="row">
                    @if (Model.ReadMessagesCount > 0)
                    {
                        <table class="table table-sm table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th class="p-2 m-0"><span class="text-white fw-bolder">Time Received</span></th>
                                    <th class="p-2 m-0"><span class="text-white fw-bolder">Subject</span></th>
                                    <th class="p-2 m-0">
                                        <a class="btn btn-sm btn-outline-danger" id="btn-del-unread" style="display:block">
                                            <i class="bi bi-trash" style="font-size: 1.0rem; color:white"></i>
                                            <span class="text-white">Delete All</span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-warning">
                                @foreach (var msg in Model.ReadMessages)
                                {
                                    <tr>
                                        <td class="p-1 m-0">
                                            <span class="text-dark">@msg.SentTime.Value.ToLongDateString()</span>&nbsp;
                                            <span class="text-dark">@msg.SentTime.Value.ToLongTimeString()</span>
                                        </td>
                                        <td class="p-1 m-0">
                                            <span title="@msg.MessageBody" class="text-dark">@msg.Subject</span>
                                        </td>
                                        <td class="p-1 m-0">
                                            <a asp-area="" asp-controller="Home" asp-action="Messages" asp-route-id="@msg.MessageDetailID" title="Read Message" class="btn btn-xs btn-info" style="width:50px">
                                                <i class="bi bi-card-text" style="font-size: 0.8rem; color:white"></i>
                                            </a>
                                            <a class="btn btn-xs btn-danger" id="btn-del-msg" title="Delete Message" style="width:50px" onclick="alert('Are you sure?')">
                                                <i class="bi bi-trash" style="font-size: 0.8rem; color:white"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="bi bi-exclamation-circle"></i>
                            <span class="fw-bold">No Message was found.</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Contact Content</div>
    </div>
</div>