@model IntranetPortal.Areas.PMS.Models.PmsEmployeeSearchViewModel
@{
    ViewData["Title"] = "OfficeManager | Select Employees";
}
<div class="container">
    <h3 class="mb-1">Select Employees</h3>
    <hr />
    <div class="mb-1">
        <div class="mb-2">
            <form asp-area="PMS" asp-controller="Home" asp-action="EmployeeSearch" method="get">
                <a asp-area="PMS" asp-controller="Home" asp-action="Index" class="btn btn-dark mr-1" style="width:100px" title="Exit">
                    <span class="text-white">Exit</span>
                </a>
                <select asp-for="id" asp-items="@ViewBag.SessionsList" class="fw-bold mr-1" style="max-width:450px; border:0px">
                    <option value="0">- Appraisal Session -</option>
                </select>
                <select asp-for="ud" asp-items="@ViewBag.UnitList" class="fw-bold" style="max-width:250px; border:0px">
                    <option value="">- Unit -</option>
                </select>
                <input asp-for="sn" type="text" class="border-0 mr-1" style="max-width:500px" id="sn" placeholder="Enter text to search" />
                <input type="submit" value="Search" class="btn btn-dark mr-1" style="width:100px" />
                @if (Model.id > 0 && (Model.ud != null && Model.ud > 0))
                {
                    @*<a asp-area="PMS" asp-controller="Home" asp-action="ChangeAppraiser" asp-route-id="@Model.id" asp-route-tp="1" asp-route-ud="@Model.ud" class="btn btn-info" title="Change Principal Appraiser for a Unit">
                        <span class="text-white">Change for a Unit</span>
                    </a>*@
                }

            </form>

            @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@ViewBag.ErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="row">
            @if (Model == null || Model.EmployeesList == null || Model.EmployeesList.Count < 1)
            {
                <div class="alert alert-info fade show" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <span class="fw-bold">No record was found.</span>
                </div>
            }
            else
            {
                <table class="table table-sm table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th><span class="text-white fw-bolder">Employee No</span></th>
                            <th>
                                <span class="text-white fw-bolder">Employee Name</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Gender</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Unit</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Location</span>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-success">
                        @foreach (var employee in Model.EmployeesList)
                        {
                            <tr>
                                <td>
                                    <span class="fw-bolder">@employee.EmployeeNo1</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@employee.FullName</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@employee.Sex</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@employee.UnitName</span>
                                </td>
                                <td>
                                    <span class="fw-bolder">@employee.LocationName</span>
                                </td>
                                <td>
                                    <div class="btn-group dropstart">
                                        <button type="button" class="bg-light" style="border:0px;" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-dark fw-bold"><i class="bi bi-three-dots" style="font-size:1.0rem"></i></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li>
                                                <a class="dropdown-item" asp-area="PMS" asp-controller="Home" asp-action="ChangeAppraiser" asp-route-id="@Model.id" asp-route-tp="0" asp-route-ad="@employee.EmployeeID" asp-route-an="@employee.FullName" title="Change Principal Appraiser">
                                                    <i class="bi bi-file-text"></i>
                                                    <span class="text-white">Change Principal Appraiser</span>
                                                </a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                
                                                <li>
                                                    <a asp-area="PMS" asp-controller="Home" asp-action="Index" title="View Image" class="dropdown-item">
                                                        <i class="bi bi-file-text"></i>
                                                        <span class="text-white">Return</span>
                                                    </a>
                                                </li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_erm/erm_employees.js"></script>
}
