@model IntranetPortal.Areas.WKS.Models.ProjectFolderListViewModel
@{
    ViewData["Title"] = "OfficeManager | Folder Settings";
}
<div class="container">
    <h4>Folder Settings</h4>
    <hr />
    <div class="mb-1">
        <form asp-area="WKS" asp-controller="Settings" asp-action="Folders" method="get">
            <a asp-area="WKS" asp-controller="Settings" asp-action="Index" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                <span class="text-white">Back</span>
            </a>
            <select asp-for="id" asp-items="@ViewBag.WorkspaceSelectList" class="border-0" style="width:250px">
                <option value="">- ALL -</option>
            </select>
            <input asp-for="sp" placeholder="Enter Title to search" class="border-0" style="width:200px" />
            <input type="submit" value="Search" class="btn btn-dark pr-3" style="width:100px" />
            <a asp-area="WKS" asp-controller="Settings" asp-action="ManageFolder" asp-route-id="" class="btn btn-success" style="width:200px" title="Add New Asset">
                <i class="bi bi-plus-lg text-white fw-bold"></i>  <span class="text-white">Create New Folder</span>
            </a>
        </form>

        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model.ProjectFolderList == null || Model.ProjectFolderList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        @if (Model != null && Model.ProjectFolderList != null && Model.ProjectFolderList.Count > 0)
        {
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-sm ">
                        <thead class="table-dark">
                            <tr>
                                <th class="p-2"><span class="text-white fw-bold">Title</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Status</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Description</span></th>
                                <th class="p-2"><span class="text-white fw-bold">Workspace</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var folder in Model.ProjectFolderList)
                            {
                                if (folder.IsArchived)
                                {
                                    <tr class="table-secondary">
                                        <td class="p-2">
                                            <span class="fw-bold" title="@folder.Title">@folder.Title</span>
                                        </td>
                                        <td class="p-2">
                                            <i title="Archived Folder" class="bi bi-archive fw-bold text-dark" style="font-size: 1.2rem;" />
                                        </td>
                                        <td class="p-2">
                                            <span class="fw-bold" title="@folder.Description">@folder.Description</span>
                                        </td>
                                        <td class="p-2">
                                            <span class="fw-bold" title="@folder.WorkspaceTitle">@folder.WorkspaceTitle</span>
                                        </td>
                                        <td class="p-2">
                                            <div class="text-center">
                                                <a asp-area="WKS" asp-controller="Settings" asp-action="FolderDetails" asp-route-id="@folder.ID" title="Details" class="btn btn-sm btn-dark">
                                                    <i class="bi bi-info-lg"></i>  <span>Details</span>
                                                </a>
                                                <a asp-area="WKS" asp-controller="Settings" asp-action="ManageFolder" asp-route-id="@folder.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Folder">
                                                    <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                </a>
                                                <a asp-area="WKS" asp-controller="Settings" asp-action="DeleteFolder" asp-route-id="@folder.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Folder">
                                                    <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="table-light">
                                        <td class="p-2">
                                            <span class="fw-bold" title="@folder.Title">@folder.Title</span>
                                        </td>
                                        <td class="p-2">
                                            <i title="Active Folder" class="bi bi-folder fw-bold text-dark" style="font-size:1.2rem;" />
                                        </td>
                                        <td class="p-2">
                                            <span class="fw-bold" title="@folder.Description">@folder.Title</span>
                                        </td>
                                        <td class="p-2">
                                            <span class="fw-bold" title="@folder.WorkspaceTitle">@folder.WorkspaceTitle</span>
                                        </td>
                                        <td class="p-2">
                                            <div class="text-center">
                                                <a asp-area="WKS" asp-controller="Settings" asp-action="FolderDetails" asp-route-id="@folder.ID" title="Details" class="btn btn-sm btn-dark">
                                                    <i class="bi bi-info-lg"></i>  <span class="text-white fw-bold">Details</span>
                                                </a>
                                                <a asp-area="WKS" asp-controller="Settings" asp-action="ManageFolder" asp-route-id="@folder.ID" class="btn btn-sm btn-info text-white" style="width:75px" title="Edit Workspace">
                                                    <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                                </a>
                                                <a asp-area="WKS" asp-controller="Settings" asp-action="DeleteFolder" asp-route-id="@folder.ID" class="btn btn-sm btn-danger text-white" style="width:75px" title="Delete Workspace">
                                                    <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>









