@model IntranetPortal.Areas.WKS.Models.ProjectFolderViewModel
@{
    ViewData["Title"] = "Manage Folder";
}
<div>
    <div class="card" style="max-width:500px">
        <div class="card-header bg-info">
            <h4 class="text-white">@ViewBag.FormLabel</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-area="WKS" asp-controller="Settings" asp-action="ManageFolder" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-md-8 mb-2">
                        <input type="hidden" asp-for="FolderID" />
                        <input type="hidden" asp-for="OwnerID" />
                        <label asp-for="FolderTitle" class="form-label text-white fw-bold"></label>
                        <input asp-for="FolderTitle" class="form-control fw-bold">
                        <div><span asp-validation-for="FolderTitle" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-4 mb-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <label asp-for="FolderDescription" class="form-label text-white fw-bold"></label>
                        <input asp-for="FolderDescription" class="form-control fw-bold">
                        <div><span asp-validation-for="FolderDescription" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label asp-for="WorkspaceID" class="form-label text-white fw-bold"></label>
                        <select asp-for="WorkspaceID" asp-items="@ViewBag.WorkspaceList" class="form-control fw-bold">
                            <option value=""> - Select - </option>
                        </select>
                        <div><span asp-validation-for="FolderDescription" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input asp-for="IsArchived" type="checkbox" style="width:15px; height:15px;" class="pr-3" />
                        <span class="fw-bold text-white">Archive this folder</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-area="WKS" asp-controller="Settings" asp-action="Folders" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                            <span class="text-white">Back</span>
                        </a>
                        @if (!Model.OperationIsCompleted)
                        {
                            <a asp-area="WKS" asp-controller="Settings" asp-action="ManageFolder" asp-route-id="@Model.FolderID" class="btn btn-warning ml-1" style="width:100px" title="Clear">
                                <span class="text-white">Clear</span>
                            </a>
                            <button type="submit" class="btn btn-success ml-2" title="Save" style="width:100px"><span class="text-white">Save</span></button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
}