@using IntranetPortal.Areas.WKS.Models
@model IntranetPortal.Areas.WKS.Models.WorkspaceListViewModel
@{
    ViewData["Title"] = "OfficeManager | Workspace Settings";
}
<div class="container">
    <h4>Workspace Settings</h4>
    <hr />
    <div class="mb-2">
        <form asp-area="WKS" asp-controller="Settings" asp-action="WorkspaceList" method="get">
            <a asp-area="WKS" asp-controller="Settings" asp-action="Index" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                <span class="text-white">Back</span>
            </a>
            <input asp-for="sp" placeholder="Enter Text to Search ...." class="border-0" style="width:300px" />
            <input type="submit" value="Search" class="btn btn-dark pr-3" style="width:100px" />
            <a asp-area="WKS" asp-controller="Settings" asp-action="ManageWorkspace" asp-route-id="" class="btn btn-success text-white" style="width:200px" title="Add New Workspace">
                <i class="bi bi-plus-lg"></i>  <span>New Workspace</span>
            </a>
        </form>

        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model.WorkspaceList == null || Model.WorkspaceList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th class="pl-5"><span class="text-white fw-bold">Title</span></th>
                            <th class="p-2"><span class="text-white fw-bold">Created By</span></th>
                            <th class="p-2"><span class="text-white fw-bold">Date Created</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @foreach (var workspace in Model.WorkspaceList)
                        {
                            <tr class="table-light">
                                <td class="pl-5">
                                    <span class="fw-bold" title="@workspace.Title">@workspace.Title</span>
                                </td>
                                <td class="p-2">
                                    <span class="fw-bold" title="@workspace.CreatedBy">@workspace.CreatedBy</span>
                                </td>
                                <td class="p-2">
                                    <span class="fw-bold" title="@workspace.CreatedTime.ToLongDateString() @workspace.CreatedTime.ToLongTimeString()">@workspace.CreatedTime.ToLongDateString() @workspace.CreatedTime.ToLongTimeString()</span>
                                </td>
                                <td class="p-2">
                                    <div class="text-center">
                                        <a asp-area="WKS" asp-controller="Settings" asp-action="ManageWorkspace" asp-route-id="@workspace.ID" class="btn btn-sm btn-info text-white" style="width:100px" title="Edit Workspace">
                                            <i class="bi bi-pencil-fill"></i>  <span>Edit</span>
                                        </a>
                                        <a asp-area="WKS" asp-controller="Settings" asp-action="DeleteWorkspace" asp-route-id="@workspace.ID" class="btn btn-sm btn-danger text-white" style="width:100px" title="Delete Workspace">
                                            <i class="bi bi-trash-fill"></i>  <span>Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
@section Scripts{

}